---
import ArticleHero from "../../components/layout/ArticleHero.astro";
import Blockquote from "../../components/layout/Blockquote.astro";
import LinkButton from "../../components/LinkButton";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Hope Gardeners">
  <ArticleHero
    title="Hope Gardeners"
    subtitle="A forum for school and community gardeners of any size and shape"
  />
  <div class="container">
    <div class="sm:mx-32">
      <Blockquote author="Audrey Hepburn"
        >To plant a garden is to believe in tomorrow.</Blockquote
      >
    </div>
    <article>
      <div class="text-xl space-y-4">
        <p class="mt-16">
          Hope Gardeners is the CC4ES network forum that convenes school and community gardeners of any shape and size to share resources and support.
          <br><br>
          Growing our own food is the simplest and most directly impactful action for sustainability. 
          CC4ES implements outreach education on gardening, nutrition, and sustainable and healthy living at grassroot levels through school community collaborative hubs – Gardens of Second Chances. 
          Gardening also promotes environmental stewardship that improves environmental health for the whole community’s well being. 
          Gardens provide a space for embracing and celebrating diversity to build sustainable and resilient communities that champion and foster environmental, social and economic equity and justice.
          </li>
        </ul>
      </div>
      <div class="text-center my-4">
        <LinkButton href="put new link here"
          >More info coming soon</LinkButton
        >
      </div>
    </article>
  </div>
</Layout>
