<%# Header section for all content pages. %>
<div class="page-header-hero">
  <div class="grid-container">
    <h2 class="hero-title"><%= current_page.data.hero_title %></h2>
    <h4 class="hero-subtitle"><%= current_page.data.hero_subtitle %></h4>
  </div>
</div>
