---
import ArticleHero from "../../components/layout/ArticleHero.astro";
import Blockquote from "../../components/layout/Blockquote.astro";
import SectionHeading from "../../components/layout/SectionHeading.astro";
import LinkButton from "../../components/LinkButton";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Youths for Urban Sustainability">
  <ArticleHero
    title="Youths for Urban Sustainability, Y4US"
    subtitle="Youth leadership and job skill-set building for regenerative sustainability"
  />
  <article class="container">
    <div class="sm:mx-32">
      <Blockquote author="Confucius"
        >A youth is to be regarded with respect. How do we know that his future
        will not be equal to our present?</Blockquote
      >
    </div>
    <SectionHeading
      >Sustainable food systems to platform career paths</SectionHeading
    >
    <div class="grid sm:grid-cols-2 gap-4 my-4">
      <div class="text-xl space-y-4">
        <h5>
          Food systems intersect all three dimensions of sustainability
          --environmental, social and economic.
        </h5>
        <p>
          By underscoring the common threads between sustainability and food
          systems for their core guiding principles, Y4US provides a pipeline
          that other related programs can build and showcase their specialty
          upon.
        </p>
        <p>
          Accordingly, Y4US outcomes are community-centered, narrated by
          members, mobilizing social norms to build a community its members can
          identify with and stand for.
        </p>
        <img
          src="/sustainability_3Ps.jpg"
          alt="sustainability-diagram"
          class="mx-auto"
        />
      </div>
      <div class="text-xl space-y-4">
        <img
          src="/seedlings_in_jars.jpg"
          alt="seedlings in jars of coins"
          class="mx-auto"
        />
        <h5>
          Youths for Urban Sustainability (Y4US) is a skills training program
          for youths age 14-24 for jobs in sustainability sectors.
        </h5>
        <p>
          Its focus on growing one's own food and environmental stewardship
          directly engages community youths to tackle the persistent food
          insecurity and environmental pollution in the urban communities, along
          with job insecurity.
        </p>

        <img src="/vertical_garden.jpg" alt="vertical garden" class="mx-auto" />
      </div>
    </div>

    <SectionHeading
      >Collaboration to pipeline for collective changes</SectionHeading
    >
    <div class="grid sm:grid-cols-2 gap-4 my-4">
      <div class="text-xl space-y-4">
        <h5>
          Y4US platforms an accreditation infrastructure that various
          organizations with the common causes can base to develop or modify to
          their respectively specified outcomes.
        </h5>
        <p>
          This cultivates community-based and initiated collaboration for
          continual learning necessary in building sustainable communities
          resilient with social, environmental, and economic justice and equity.
        </p>
      </div>
      <div class="text-xl space-y-4">
        <img src="/hands.jpg" alt="hands over a table" class="mx-auto" />
      </div>
    </div>
    <div class="text-xl space-y-4">
      <h3 class="text-3xl">Y4US' Outcomes</h3>
      <h5>
        Pipelining the established and emerging state-wide youth programs,
        Youths for Urban Sustainability:
      </h5>
      <ul class="list-disc list-inside text-xl">
        <li>
          Aligns with the state department of education's STEM benchmarks to be
          integrated into local education agencies (LEA), urban public school
          systems in particular. This would give incentive for youths to
          complete their education and hold school systems accountable.
        </li>
        <li>
          Platforms accredited career development paths for post-secondary
          continual and/or re-skill learning and job opportunities pertinent to
          such training.
        </li>
      </ul>
    </div>
    <div class="text-center my-4">
      <LinkButton href="https://cc4es2.wixsite.com/y4us"
        >See Youths for Urban Sustainability in Action</LinkButton
      >
    </div>
  </article>
</Layout>
