---
import ArticleHero from "../../components/layout/ArticleHero.astro";
import Blockquote from "../../components/layout/Blockquote.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Conversation Circles">
  <ArticleHero
    title="CC4ES Conversation Circles"
    subtitle="Site Under Construction - Coming Soon"
  />
  <div class="container">
    <div class="sm:mx-32">
      <Blockquote author="Thomas Leonard"
        >All problems exist in the absence of a good conservation.</Blockquote
      >
    </div>
  </div>
</Layout>
