<footer class="mt-2">
  <div
    class="bg-footer-pattern bg-cover bg-no-repeat bg-blend-multiply bg-bottom py-4 text-white"
  >
    <div class="container flex flex-col gap-4 sm:flex-row mx-auto">
      <div class="sm:w-1/2">
        <h4 class="text-lg font-bold">CC4ES</h4>
        <p>
          P.O. Box 27007<br />
          Providence, RI, 02907<br />
        </p>
        <p>
          <a class="hover:underline" href="tel:+14016800840">(401) 680-0840</a
          ><br />
          <a class="hover:underline" href="mailto:info@cc4es.org"
            >info@cc4es.org</a
          >
        </p>
      </div>
      <div class="sm:w-1/2">
        <p class="mt-4">
          <span class="text-lg font-bold"
            >Coalition Center for Environmental Sustainability, CC4ES,</span
          > a grassroots 501(c)(3) organization that links communities to build regenerative
          sustainability with environmental, social and economic justice and equity,
          one garden at a time.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full text-center bg-[#413502] text-white py-3">
    <span
      >Copyright &copy;2020 Coalition Center for Environmental Sustainability</span
    >
  </div>
</footer>
