---
/**
 * Three column layout that will shrink to one column on mobile view.
 * Text is centered and everything is aligned center.
 */
export interface Props {
  className?: string;
}

const className = Astro.props.className;
const classes = `flex flex-col sm:flex-row justify-center align-middle gap-4 ${className}`;
---

<div class={classes}>
  <div class="sm:w-1/3">
    <slot name="first-col" />
  </div>
  <div class="sm:w-1/3">
    <slot name="second-col" />
  </div>
  <div class="sm:w-1/3">
    <slot name="third-col" />
  </div>
</div>
