---
import LinkButton from "../LinkButton";

export interface Props {
  title: string;
  linkText: string;
  linkHref: string;
}

const { title, linkText, linkHref } = Astro.props;
---

<p class="text-2xl mt-12 mb-4">{title}</p>
<LinkButton href={linkHref}>{linkText}</LinkButton>
