---
import ArticleHero from "../../components/layout/ArticleHero.astro";
import type { Props as Program } from "../../components/program/ProgramCard.astro";
import ProgramCard from "../../components/program/ProgramCard.astro";
import Layout from "../../layouts/Layout.astro";
const [connect] = await Astro.glob("../../data/connect.mdx");
const { connectPrograms } = connect?.frontmatter!;
---

<Layout title="Testing New Page">
  <ArticleHero
    title="New Page"
    subtitle="This is a new page"
  />
  <div class="container">
    <div class="text-center my-8">
      <h1 class="text-4xl">This is how I add a page</h1>
      <p class="text-xl">
        Does this work well?
      </p>
    </div>
  </div>
  
</Layout>
