---
import ArticleHero from "../../components/layout/ArticleHero.astro";
import type { Props as Program } from "../../components/program/ProgramCard.astro";
import ProgramCard from "../../components/program/ProgramCard.astro";
import Layout from "../../layouts/Layout.astro";
const [connect] = await Astro.glob("../../data/connect.mdx");
const { connectPrograms } = connect?.frontmatter!;
---

<Layout title="Testing New Page">
  <ArticleHero
    title="New Page"
    subtitle="How can I add a page?"
  />
  <div class="container">
    <div class="text-center my-8">
      <h1 class="text-4xl">New pages would be nice to add</h1>
      <p class="text-xl">
        Let's see where the new page ends up
      </p>
    </div>
  </div>
  <div class="container">
    <div class="sm:mx-32">
      <Blockquote author="David G"
        >Adding pages can be fun.</Blockquote
      >
    </div>
    <SectionHeading>Why We Need More Pages</SectionHeading>
    <div class="space-y-4 text-xl mt-4">
      <h5 class="text-2xl">
        New pages can enhance the website.
      </h5>
      <p>
        Pages provide space to add more stuff.
      </p>
      <div class="text-center">
        <LinkButton href="https://cc4es2.wixsite.com/trees4sustainability"
          >Tree Programs and Events</LinkButton
        >
      </div>
    </div>
  </div>  
</Layout>
