---
import ArticleHero from "../../components/layout/ArticleHero.astro";
import Blockquote from "../../components/layout/Blockquote.astro";
import VideoFrame from "../../components/VideoFrame.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Resilient Community & Leadeship Building">
  <ArticleHero
    title="Resilient Community & Leadeship Building"
    subtitle="Module 6"
  />
  <div class="container">
    <div class="sm:mx-32">
      <Blockquote author="Alice Walker, Now Is the Time To Open Your Heart"
        >The world was almost at the point of forgetting what a fine time people
        can have helping one another. That people like to work together and to
        kick back after work and share their experiences. What would happen if
        our foreign policy centered on the cultivation of joy rather than pain?
        She thought.
      </Blockquote>
    </div>
    <article>
      <div class="text-center text-xl tracking-wide">
        <div>
          <h3 class="my-2 text-3xl text-center">
            Creating Resilient Communities
          </h3>
          <h4 class="text-center">Why a resilient community?</h4>
        </div>
        <div class="grid sm:grid-cols-2 gap-4 my-4">
          <div>
            <VideoFrame>
              <iframe
                class="video-iframe"
                width="560"
                height="349"
                src="https://www.youtube.com/embed/lvVHvr4ib24?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </VideoFrame>
          </div>
          <div>
            <h5 class="text-center my-2">
              Cohesive communities create resilience
            </h5>
            <p class="text-left">
              A resilient community is possible by building the social capital
              that binds together and supports the community. Investing social
              capital in communities by building social networks has multiple
              benefits: improved education, better health from addressing
              environmental issues, and strengthened connections between elder
              and younger generations so that, over time, a community holds
              together and renews itself.
            </p>
          </div>
        </div>
        <h4 class="text-center">What a Resilient Community Means</h4>
        <div class="grid sm:grid-cols-2 gap-4 my-4">
          <div class="text-left">
            <p>
              A resilient community is a place its members can identify with, a
              place of identity. Social capital (“human” capital termed in this
              TED Talk) necessary to build a resilient community is the dividend
              from investing in the local community. “We are all related. We are
              better together.” This Ted Talk showcases the resilient community
              of the Pine Ridge Tribe. They reconnect with the land, and reclaim
              their cultural history and identity associated with the land. They
              did this under young leadership with a motto of “a time to stop
              talking and start working”. They integrated the regenerative
              principles to instill resilience that intersect the three P’s:
              Planet, People, and Prosperity.
            </p>
          </div>
          <div>
            <h5 class="text-center">
              Building resilient communities: a moral responsibility
            </h5>
            <VideoFrame>
              <iframe
                class="video-iframe"
                width="560"
                height="349"
                src="https://www.youtube.com/embed/e2Re-KrQNa4?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </VideoFrame>
          </div>
        </div>

        <h4 class="text-center">How to Build a Resilient Community</h4>
        <div class="grid sm:grid-cols-2 gap-4 my-4">
          <div>
            <h5 class="text-center">The road map to community resilience</h5>
            <VideoFrame>
              <iframe
                class="video-iframe"
                width="560"
                height="349"
                src="https://www.youtube.com/embed/MnugJO6GDQs?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </VideoFrame>
          </div>
          <div class="text-left">
            <ul>
              <li>
                Get to know your community — learn its history and culture so
                that it becomes your place of identity. You can create a
                community story map that everyone can share.
              </li>
              <li>
                Create community spaces — build a community center, plant
                community gardens (my favorite!)
              </li>
              <li>
                Organize community events — community meetings, reading group, a
                seed swap, tool swap, potluck, speaker series, etc.
              </li>
              <li>
                Volunteer — offer to help a neighbor or bring dinner to families
                experiencing hardship.
              </li>
            </ul>
          </div>
        </div>

        <h4 class="text-center">Slow Money to Invest in Local Communities</h4>
        <div class="grid sm:grid-cols-2 gap-4 my-4">
          <div class="text-left">
            <p>
              There are many organizations in various levels that promote
              building resilient communities. My all-time favorite, “Slow Money”
              featured in the Ted Talk is one of many examples. I can’t
              emphasize its main message enough: you get what you invest. Invest
              in your local community and let it sit and circulate there. “We
              need to measure return on investment not simply by profit, but by
              things like soil fertility, by the jobs that will make the
              relationships we build, the ecology we restore.”
            </p><p>
              Building a resilient community entails comprehensive coordination
              of social, economic and environmental sustainability: changing
              business models, restoring our environmental ecosystems, and
              building relationships — the main reason CC4ES Six Modules overlap
              and interconnect. Again, it all starts with each of us.
            </p>
          </div>
          <div>
            <VideoFrame>
              <iframe
                class="video-iframe"
                width="560"
                height="349"
                src="https://www.youtube.com/embed/A0Rp8h_nV38?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </VideoFrame>
            <h5 class="mt-2">
              <strong>DIY: What does “Slow” in “Slow Money” mean to you?</strong
              >
            </h5>
          </div>
        </div>

        <div class="grid sm:grid-cols-2 gap-4 my-4 text-left">
          <div>
            <h3 class="my-2 text-2xl text-center">Recommended resources</h3>
            <ul>
              <li><em>The Permaculture Promise</em>, by Jono Neiger</li>
              <li>
                <em
                  >Inquiries into the Nature of Slow Money: Investing as if
                  Food, Farm and Fertility Mattered</em
                >, by Woody Tasch
              </li>
              <li>
                <em>Soil, Soul, Society: A New Trinity for Our Time</em>, by
                Satish Kumar
              </li>
            </ul>
          </div>
          <div>
            <h3 class="my-2 text-2xl text-center">
              Keywords for further exploration
            </h3>
            <ul>
              <li>permaculture</li>
              <li>resilient community</li>
              <li>ecological infrastructure</li>
              <li>Slow Money</li>
              <li>social capital</li>
              <li>social mobilization</li>
            </ul>
          </div>
        </div>

        <div class="text-left mb-4">
          <h3 class="my-2 text-3xl text-center">Questions to reflect</h3>
          <ul>
            <li>
              Why is a community necessary for our own sustainable lifestyle?
            </li>
            <li>What do you identify with in your own community, and why?</li>
            <li>
              What is your own definition of “resilient” community? What does it
              mean to you?
            </li>
            <li>
              Land or soil is a recurring theme for sustainability. How is land
              ownership related to building a resilient community and
              environmental justice?
            </li>
            <li>
              Referring to the opening quotation by Alice Walker, what do you
              think made people forget the joy of working together? HINT: Find
              out about Alice Walker.
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</Layout>
