---
import ArticleHero from "../../components/layout/ArticleHero.astro";
import Blockquote from "../../components/layout/Blockquote.astro";
import SectionHeading from "../../components/layout/SectionHeading.astro";
import TwoColumnLayout from "../../components/layout/TwoColumnLayout.astro";
import LinkButton from "../../components/LinkButton";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Rhody Grows Hope">
  <ArticleHero
    title="Rhody Grows Hope"
    subtitle="Cultivating regenerative sustainability with one garden at a time"
  />
  <article class="container">
    <div class="sm:mx-32">
      <Blockquote author="Audrey Hepburn"
        >To plant a garden is to believe in tomorrow.</Blockquote
      >
    </div>
    <div class="space-y-4">
      <h3 class="text-3xl text-center">What is Rhody Grows Hope?</h3>
      <p class="text-xl">
        Rhody Grows Hope (RGH) is a container gardening program that repurposes food plastic recyclables - such as 32-oz yogurt 
        containers and salad containers - as planters to grow food while reducing plastic waste. 
        RGH also repurposes heat-treated pallets as raised garden beds. 
        RGH circumvents soil contamination and limited or no land access prevalent in frontline communities, 
        for food security, sovereignty and justice.
      </p>
      <h3 class="text-3xl text-center">
        Growing one's own food as a social mobilizer tool for building
        regenerative sustainability
      </h3>
    </div>
    <div class="mt-2">
      <img src="/RGH_CollageTM.jpg" alt="full cycle of food paths" />
      <p class="text-xl my-4">
        Growing one's own food provides the most direct impactful means of
        ensuring environmental, social and economic sustainability: one small
        container garden initiates a comprehensive integration of food paths
        from growing food, cooking nutritious food, reducing food waste,
        composting, green entrepreneurship, and environmental stewardship
        essential for cultivating regenerative sustainability.
      </p>
    </div>
    <div class="space-y-4">
      <SectionHeading>How Rhody Grows Hope works</SectionHeading>
      <p class="text-xl">
        Rhody Grows Hope encompasses various CC4ES projects the common thread of
        which is growing one's own food at the community grassroots level:
        Museum of Silenced Histories & Gardens of Regeneration, Youths for Urban
        Sustainability, and CC4ES Direct through Hope Gardeners network
        platform.
      </p>
      <p class="text-xl">
        Size-scalability and mobile nature of container gardening is ideal for
        tending to the communities at grassroots level - especially, frontline
        communities' brunt with environmental challenges in addition to food
        apartheid. Gardening in a container circumvents the soil contamination
        challenges of brownfield prevalent in these communities. Mobility nature
        troubleshoots maintenance challenges that most school gardens face:
        students can take the container gardens home when schools are not in
        session. Furthermore, they can educate their family on growing one's own
        food, nurturing their leadership, engaging and empowering the whole
        community.
      </p>
    </div>
    <TwoColumnLayout className="my-4">
      <div slot="first-col" class="space-y-4">
        <h3 class="text-center text-3xl">Grow a Garden</h3>
        <p class="text-xl">
          Because Rhody Grows Hope is a container garden, you can grow a garden
          as small or as big wherever you can find a space. It can be your
          backyard, balcony, along your windowsill, on a fire escape,
          staircases, driveway or in a parking lot. You can move the garden
          outdoors and bring it indoors when the weather gets cold.
          Possibilities are limitless.
        </p>
        <p class="text-xl">
          Follow the following small steps to start a garden:
        </p><ul class="list-disc list-inside text-lg">
          <li>Select what you want to grow and how much - how many bags</li>
          <li>Check out all the resources provided online and on-site</li>
          <li>Join the Rhody Grows Hope community support network</li>
        </ul>
        <div class="text-center">
          <LinkButton href="/contact">Sign Up & Grow a Garden</LinkButton>
        </div>
      </div>
      <div slot="second-col" class="space-y-4">
        <h3 class="text-center text-3xl">Give a Garden</h3>
        <img src="RGH-bag-4-index-2.jpg" alt="" />
        <p class="text-xl">
          Every $20 provides a Rhody Grows Hope garden kit and step-by-step
          support for a family in need to grow their own fresh vegetables,
          fruits, and herbs. Rhody Grows Hope is a container gardening project
          that inspires growing your own food for food security, sovereignty,
          and justice.
        </p>
        <div class="text-center">
          <LinkButton href="/donate">Donate Now</LinkButton>
        </div>
      </div>
    </TwoColumnLayout>
  </article>
</Layout>
