---
import ArticleHero from "../../components/layout/ArticleHero.astro";
import Blockquote from "../../components/layout/Blockquote.astro";
import SectionHeading from "../../components/layout/SectionHeading.astro";
import LinkButton from "../../components/LinkButton";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Rhody Grows Hope">
  <ArticleHero
    title="Rhody Grows Hope"
    subtitle="Cultivating regenerative sustainability with one garden at a time"
  />
  <article class="container">
    <div class="sm:mx-32">
      <Blockquote author="Audrey Hepburn"
        >To plant a garden is to believe in tomorrow.</Blockquote
      >
    </div>
    <div class="space-y-4">
      <h3 class="text-3xl text-center">What is Rhody Grows Hope?</h3>
      <p class="text-xl">
        Rhody Grows Hope (RGH) is a container gardening program that repurposes various types of recyclables as gardening space to grow food: 32-oz yogurt containers, salad containers and tree buckets as planters, and heat-treated pallets as raised garden beds. 
        While RGH gardens in frontline communities circumvent the prevalent soil contamination and limited/no land access for food justice, RGH can be adapted for any type and shape of gardening in other communities.
      </p>
      <h3 class="text-3xl text-center">
        Growing one's own food as a social mobilizer tool for building
        regenerative sustainability
      </h3>
    </div>
    <div class="mt-2">
      <img src="/RGH_Collage_Dec3.jpg" alt="full cycle of food paths" />
      <p class="text-xl my-4">
        Growing one's own food provides the most direct impactful means of
        ensuring environmental, social and economic sustainability: one small
        container garden initiates a comprehensive integration of food paths
        from growing food, cooking nutritious food, reducing food waste,
        composting, green entrepreneurship, and environmental stewardship
        essential for cultivating regenerative sustainability.
      </p>
    </div>
    <div class="space-y-4">
      <SectionHeading>How Rhody Grows Hope works</SectionHeading>
      <p class="text-xl">
        Rhody Grows Hope (RGH) underscores growing one’s own food as the theme of all CC4ES programs: Rhody Greeneers – E-STEAM PBL, Y4US and SAS Living; Museum of Silenced Histories; and CC4ES Direct, through Hope Gardeners network platform.
      </p>
      <p class="text-xl">
        The scalability and mobile nature of Rhody Grows Hope (RGH) is ideal for tending to the communities at grassroots levels, especially to circumvent soil contamination that is prevalent in frontline communities. 
        RGH also troubleshoots maintenance challenges that many school gardens face as students can take the container gardens home during school recess. Students become ambassadors to educate their families on growing food, which fosters leadership that can engage and empower the whole community.
      </p>

  </article>
</Layout>
