---
import Hero from "../components/Hero.astro";
import Link from "../components/Link.astro";
import LinkButton from "../components/LinkButton";
import SectionHeading from "../components/SectionHeading.astro";
import TwoColumnLayout from "../components/TwoColumnLayout.astro";
import Layout from "../layouts/Layout.astro";

// const modules: Card[] = [
//   {
//     label: "Module 1",
//     title: "Environmental Justice & Diversity",
//     subtitle: "We are all interconnected",
//     buttonText: "Learn More",
//     href: "environmental-justice-diversity",
//   },
//   {
//     label: "Module 2",
//     title: "Environmental Literacy Fundamentals",
//     subtitle: "Environmental health & our well-being",
//     buttonText: "Learn More",
//     href: "environmental-literacy-fundamentals",
//   },
//   {
//     label: "Module 3",
//     title: "Sustainable Food Systems",
//     subtitle: "Sustainable lifestyle",
//     buttonText: "Learn More",
//     href: "sustainable-food-systems",
//   },
//   {
//     label: "Module 4",
//     title: "Regenerative Technologies",
//     subtitle: "Mimic nature",
//     buttonText: "Learn More",
//     href: "regenerative-technologies",
//   },
//   {
//     label: "Module 5",
//     title: "Sustainable Business Practices",
//     subtitle: "Green on a large scale",
//     buttonText: "Learn More",
//     href: "sustainable-business-practices",
//   },
//   {
//     label: "Module 6",
//     title: "Resilient community building",
//     subtitle: "Invest locally to build a resilient community",
//     buttonText: "Learn More",
//     href: "resilient-community-building",
//   },
// ];
---

<Layout title="Home">
  <main>
    <Hero />
    <div class="container mt-6">
      <article>
        <h2 class="text-center text-4xl">
          <strong
            >A Grassroots Organization That Cultivates<br />Sustainable
            Lifestyle In All Walks Of Life</strong
          >
        </h2>
        <TwoColumnLayout className="mt-4">
          <div slot="first-col">
            <img
              src="RGH_CollageTM.jpg"
              alt="RGH collage with TM and RGH logo in the center"
            />
          </div>
          <div slot="second-col" class="text-xl">
            <p class="mt-4">
              Ever-emerging environmental, social and economic challenges
              necessitate a lifestyle that fosters sustainability. Cultivating
              sustainable lifestyles entails continual learning and diligent
              practices. Such endeavor resonates with the CC4ES core tenets:
              comprehensive collaboration for systemic change, community-based
              motivation and empowerment, and establishing an environment for
              lifelong learning and practice.
            </p>

            <p class="mt-4">
              Food is a universal human right. As food is embedded in
              socio-cultural systems, food justice is environmental, social and
              economic justice. Growing one's own food provides the most
              impactful means of ensuring environmental, social and economic
              sustainability. CC4ES uses growing one's own food as a grassroots
              community mobilizer to platform the collective shifts necessary
              for cultivating community-narrated and community-empowered
              regenerative sustainability.
            </p>

            <h4 class="mt-4 text-2xl font-bold">
              The CC4ES Website is organized into a LEARN-CONNECT-PRACTICE
              infrastructure.
              <br /><br />
            </h4>
          </div>
        </TwoColumnLayout>

        <!-- <div
          class="flex flex-col sm:flex-row justify-center align-middle sm:gap-5"
        >
          <div class="sm:w-1/2">
            <img
              src="RGH_CollageTM.jpg"
              alt="RGH collage with TM and RGH logo in the center"
            />
          </div>

          <div class="sm:w-1/2 text-center">
            <img src="RGH-bag-4-index-2.jpg" alt="" />
            <p class="mb-4 text-xl">
              Rhody Grows Hope (RGH) is a container gardening program that
              repurposes food plastic recyclables - such as 32-oz yogurt
              containers and salad containers - as planters to grow food while
              reducing plastic waste. RGH also repurposes heat-treated pallets
              as raised garden beds. <br /><br />RGH circumvents soil
              contamination and limited or no land access prevalent in frontline
              communities, for food security, sovereignty and justice. <br /><br
              />Every $20 provides a RGH garden to help a family in need.
            </p>
            <LinkButton href="/donate">Donate Now</LinkButton>
          </div>
        </div> -->

        <div class="mt-4">
          <SectionHeading>LEARN</SectionHeading>
        </div>
        <TwoColumnLayout className="mt-4">
          <div slot="first-col">
            <p class="text-xl">
              CC4ES classifies the complexity of sustainability into six
              modules. Although all six modules are interconnected, the
              Environmental Justice & Diversity module underpins all others.
              Environmental justice is social justice. Sustainability is only
              possible in a society that champions justice and equity.
            </p>
          </div>
          <div slot="second-col">
            <img src="/Six Modules Logo.jpg" alt="" />
          </div>
        </TwoColumnLayout>
        <div class="my-4 text-center">
          <LinkButton href="/six-modules">To LEARN</LinkButton>
        </div>

        <!-- <div class="flex flex-wrap flex-row gap-4 justify-evenly mt-4">
          {modules.map((card) => <ModuleCard card={card} />)}
        </div> -->

        <div class="mt-4">
          <SectionHeading>CONNECT</SectionHeading>
        </div>
        <TwoColumnLayout className="mt-4">
          <div slot="first-col">
            <p class="text-xl">
              CONNECT platforms <Link href="hope-gardeners">Hope Gardeners</Link
              >
              network for engaging community members at grassroots level to participate
              in <br />CC4ES programs that cultivate community-led and empowered
              regenerative sustainability. <br /><br />CONNECT is facilitated by <Link
                href="direct">CC4ES Direct</Link
              > and supported through <Link href="/conversation-circles"
                >CC4ES Conversation Circles</Link
              >.
            </p>
          </div>

          <div slot="second-col" class="my-4">
            <img src="/CC4ESHG_logo.jpg" alt="Hope Gardeners Logo" />
          </div>
        </TwoColumnLayout>
        <div class="my-4 text-center">
          <LinkButton href="/connect">To CONNECT</LinkButton>
        </div>

        <div>
          <SectionHeading>PRACTICE</SectionHeading>
        </div>
        <TwoColumnLayout className="mt-4">
          <div slot="first-col" class="text-xl">
            <div>
              <Link href="/rhody-grows-hope">Rhody Grows Hope</Link><span>
                is the central CC4ES program that uses growing one's own food as
                a grassroots community mobilizer.</span
              >
            </div>
            <div>
              <Link href="/museum-of-SH"
                >Museum of Silenced Histories & Gardens of Regeneration</Link
              ><span> gives voices for food sovereignty and justice.</span>
            </div>
            <div>
              <Link href="/youths-4-urban-sustainability"
                >Youths for Urban Sustainability</Link
              ><span>
                is a skills-training program that engages communities for their
                own narratives and empowerment.</span
              >
            </div>
          </div>

          <div slot="second-col">
            <img
              src="/Rhody_Grows_Hope_logo_TM(1).jpg"
              alt="Rhody Grows Hope TM logo"
            />
          </div>
        </TwoColumnLayout>
        <div class="my-4 text-center">
          <LinkButton href="/practice">To PRACTICE</LinkButton>
        </div>
      </article>
    </div>
  </main>
</Layout>
