---
import Hero from "../components/layout/Hero.astro";
import SectionHeading from "../components/layout/SectionHeading.astro";
import Link from "../components/Link.astro";
import LinkButton from "../components/LinkButton";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <Hero />
    <div class="container mt-6">
      <article>
        <h2 class="text-center text-4xl">
          <strong
            >A Grassroots Organization That Cultivates<br />Sustainable
            Lifestyle In All Walks Of Life</strong
          >
        </h2>
        <div class="grid sm:grid-cols-2 gap-4 mt-4 text-center">
          <div>
            <img
              src="RGH_Collage_Dec3.jpg"
              alt="RGH collage with RGH logo in the center"
            />
          </div>
          <div class="text-xl">
            <p class="mt-4">
              Ever-emerging environmental, social and economic challenges
              necessitate a lifestyle that fosters sustainability. Cultivating
              sustainable lifestyles entails continual learning and diligent
              practices. Such endeavor resonates with the CC4ES core tenets:
              comprehensive collaboration for systemic change, community-based
              motivation and empowerment, and establishing an environment for
              lifelong learning and practice towards sustainable, happy, and healthy living.
            </p>

            <p class="mt-4">
              Food is a universal human right. As food is embedded in
              socio-cultural systems, food justice is environmental, social and
              economic justice. Growing one's own food provides the most
              impactful means of ensuring environmental, social and economic
              sustainability. CC4ES uses growing one's own food as a grassroots
              community mobilizer to platform the collective shifts necessary
              for cultivating community-narrated and community-empowered
              regenerative sustainability.
            </p>

            <h4 class="mt-4 text-2xl font-bold">
              CC4ES platforms its LEARN-CONNECT-PRACTICE infrastructure to facilitate implementation of all its programs.
              <br /><br />
            </h4>
          </div>
        </div>

        <div class="mt-4">
          <SectionHeading>LEARN</SectionHeading>
        </div>
        <div class="grid sm:grid-cols-2 gap-4 mt-4 text-center">
          <div>
            <p class="text-xl">
              CC4ES classifies the complexity of sustainability into six
              modules. Although all six modules are interconnected, the
              Environmental Justice & Diversity module underpins all others.
              Environmental justice is social justice. Sustainability is only
              possible in a society that champions justice and equity.
            </p>
          </div>
          <div>
            <img src="/Six Modules Logo.jpg" alt="" />
          </div>
        </div>
        <div class="my-4 text-center">
          <LinkButton href="/six-modules">To LEARN</LinkButton>
        </div>

        <div class="mt-4">
          <SectionHeading>CONNECT</SectionHeading>
        </div>
        <div class="grid sm:grid-cols-2 gap-4 mt-4 text-center">
          <div>
            <p class="text-xl">
              CONNECT platforms <em
                ><Link href="hope-gardeners">Hope Gardeners</Link>
              </em>
              network for engaging community members at grassroots level to participate
              in CC4ES programs that cultivate community-led and empowered
              regeneratively sustainable, healthy and happy living individually and collectively.  <br />CONNECT is facilitated by <em
                ><Link href="direct">CC4ES Direct</Link>
              </em> and supported through <em
                ><Link href="/conversation-circles"
                  >CC4ES Conversation Circles</Link
                >
              </em>.
            </p>
          </div>

          <div class="my-4">
            <img src="/CC4ESHG_logo_TM.jpg" alt="Hope Gardeners Logo" />
          </div>
        </div>
        <div class="my-4 text-center">
          <LinkButton href="/connect">To CONNECT</LinkButton>
        </div>

        <div>
          <SectionHeading>PRACTICE</SectionHeading>
        </div>
        <div class="grid sm:grid-cols-2 gap-4 mt-4 text-center">
          <div class="text-xl">
            <div>
              <em
                ><Link href="/rhody-grows-hope">Rhody Grows Hope</Link>
              </em><span>
                is a container gardening program that repurposes what would otherwise be environmental waste. 
                It leverages growing one’s own food as a grassroots community mobilizer.</span
              >
            </div>
            <div>
              <em
                ><Link href="/museum-of-SH"
                >Museum of Silenced Histories</Link
              >
            </em><span> is an emergent voicing of the silenced in the marginalized communities at grassroots levels through communal acts of storytelling and sharing embedded within all CC4ES programs and activities.</span
              >    <br>
                <em
                  ><Link href="https://cc4es2.wixsite.com/2ndchancebookgarden"
                  >2nd Chance Book Garden</Link
                >
              </em><span> 
                is an entrepreneurship outlet with a makerspace for Rhody Grows Hope products.  It incorporates CC4ES’ skills training and intern- and apprenticeship programs to platform transformative food justice.
            </div>              
            
            </div>
          </div>
          <div>
        
            <img
              src="2ndCBGLogo.jpg"
              alt="2nd Chance Book Garden Logo"
            />
          </div>
        </div>
        <div class="my-4 text-center">
          <LinkButton href="/practice">To PRACTICE</LinkButton>
        </div><br/>
        <div>
          <SectionHeading>Support CC4ES Today</SectionHeading>
        </div>
        <div class="my-4 text-center">
        &nbsp;<LinkButton href="/donate">Tax Deductible Donations</LinkButton>   
        
        </div>
      </article>
    </div>
  </main>
</Layout>
