---
import ArticleHero from "../../components/ArticleHero.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About Us">
  <ArticleHero
    title="ABOUT US"
    subtitle="CC4ES Team facilitates collaboration among and between organizations and communities for sustainability, starting from our own team"
  />
  <div class="container mt-6">
    <div>Placeholder!</div>
  </div>
</Layout>
