---
import ArticleHero from "../../components/ArticleHero.astro";
import ImageCaption from "../../components/ImageCaption.astro";
import LinkButton from "../../components/LinkButton";
import SectionHeading from "../../components/SectionHeading.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Six Modules">
  <ArticleHero
    title="LEARN"
    subtitle="Cultivation of a sustainable lifestyle entails continual learning"
  />

  <article class="container">
    <div class="mt-6 text-center">
      <div class="mt-4">
        <h2 class="text-2xl sm:text-4xl font-bold">About LEARN</h2>
        <p class="text-xl">
          CC4ES categorizes the complexity of sustainability into Six
          Interconnected Modules. Each of the CC4ES Modules explores how our
          actions impact the environment. Long-term systemic sustainability is
          only possible in a society that champions racial justice and equity.
          The Environmental Justice & Diversity module is the key as success can
          only be achieved through individual perceptional change and it
          underpins all other modules.
        </p>
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading>1. Environmental Justice & Diversity</SectionHeading>
        <ImageCaption src="/hands.jpg" alt="hands touching in collaboration" />
        <p class="text-2xl font-semibold">We Are All Interconnected</p>
        <p class="text-xl">
          Social and environmental justice intersect. There is a longstanding
          history of racial discrimination with respect to environmental
          justice. Environmental justice is the right of every citizen to
          adequate protection from environmental hazard. This right entitles
          equal access to environmental literacy, and equal benefits from
          governmental clean-up programs. Communities of color and/or low income
          are more likely to have chemical plants. hazardous waste facilities,
          sanitary landfills, sewage treatment plants, and incinerators within
          their neighborhood. We must openly discuss how race and socioeconomic
          class impact environmental equity in order to tackle environmental
          challenges.
        </p>
        <LinkButton href="/environmental-justice-diversity"
          >Learn More</LinkButton
        >
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading>2. Environmental Literacy Fundamentals</SectionHeading>
        <ImageCaption src="/seedlings.jpg" alt="seedlings in order" />
        <p class="text-2xl my-4 font-semibold">
          Environmental Health & Our Well-Being
        </p>
        <p class="text-xl">
          This module provides environmental literacy resources to help us adopt
          our own sustainable activities. We will explore how each of us is
          interconnected with other species and non-living matter in the
          environment. Realize that our daily activities impact our surrounding
          environment, and in effect cascades into sustainability of the whole
          ecosystem. Supporting a sustainable ecosystem will ensure our
          well-being.
        </p>
        <LinkButton href="/environmental-literacy-fundamentals"
          >Learn More</LinkButton
        >
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading>3. Sustainable Food Systems</SectionHeading>
        <ImageCaption src="/beets.jpg" alt="beet roots" />
        <p class="text-2xl my-4 font-semibold">Sustainable Lifestyle</p>
        <p class="text-xl">
          Food systems are the basis of building the foundation of local,
          regional, national and global economies. In order to achieve a
          sustainable food system, we need to understand the complexities
          involved. Food’s journey from the farm to our table is anything but
          simple. This module explores how to grow food sustainably, reduce food
          waste, and create/support sustainable food businesses.
        </p>
        <LinkButton href="/sustainable-food-systems">Learn More</LinkButton>
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading>4. Regenerative Technologies</SectionHeading>
        <ImageCaption
          src="/vertical_garden.jpg"
          alt="vertical garden of edible plants"
        />
        <p class="text-2xl my-4 font-semibold">Mimic Nature</p>
        <p class="text-xl">
          Most of us are familiar with the term renewable energy, such as solar
          and wind energy. We are now going to focus on regenerative technology.
          Living things in nature regenerate — regrow themselves. Regenerative
          approaches work by mimicking nature. When looking at regenerative
          approaches, we view a broader context which encompasses checks and
          balances that affect the whole ecosystem's social, economic and
          environmental sustainability. This includes incorporating sustainable
          designs for gardening/farming, design architecture and landscape,
          transportation, and more.
        </p>
        <LinkButton href="/regenerative-technologies">Learn More</LinkButton>
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading>5. Sustainable Business Practices</SectionHeading>
        <ImageCaption
          src="/seedlings_in_jars.jpg"
          alt="seedlings in jars of coins"
        />
        <p class="text-2xl my-4 font-semibold">Green on a Larger Scale</p>
        <p class="text-xl">
          Sustainability starts at the individual level – everything that each
          of us contributes makes a difference. We must broaden the effort to
          include each workplace/business. Scaling up does not need to be
          expensive, small efforts at work can make a significant impact. With a
          small investment, businesses can use recycle bins, energy efficient
          lighting, and implement water conservation techniques. Decreasing
          waste can have cost savings, consider repairing and sharing tools and
          equipment. Sustainable business practice invests locally and creates
          resilient communities. This module showcases local and regional
          businesses practicing sustainability.
        </p>
        <LinkButton href="/sustainable-business-practices"
          >Learn More</LinkButton
        >
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading>6. Resilient Community Building</SectionHeading>
        <ImageCaption src="/hands_with_plants.jpg" alt="hands holding plants" />
        <p class="text-2xl my-4 font-semibold">
          Invest Locally to Build a Resilient Community
        </p>
        <p class="text-xl">
          This is our only planet, we need to protect it. This protection starts
          locally. Businesses need to invest social capital into the local
          community. This entails building relationships, supporting local
          initiatives and developing trust. The community reciprocates by
          supporting the businesses, a positive feedback loop that creates a
          resilient community.
        </p>
        <LinkButton href="/resilient-community-building">Learn More</LinkButton>
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading>Trees for Sustainability</SectionHeading>
        <p class="text-2xl my-4 font-semibold">
          Trees are a vital part of our world, and crucial to our survival.
        </p>
        <LinkButton href="/trees-4-sustainability">Learn More</LinkButton>
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading>Additional Resources</SectionHeading>
        <p class="text-2xl my-4 font-semibold">
          Organizations that CC4ES collaborates with for environmental
          sustainability and justice.
        </p>
        <LinkButton href="/additional-resources">Learn More</LinkButton>
      </div>
    </div>
  </article>
</Layout>
