<footer>
  <div
    class="bg-footer-pattern bg-cover bg-no-repeat bg-blend-multiply bg-bottom py-8 text-white"
  >
    <div class="container mx-auto columns-3">
      <div>
        <h4 class="text-3xl font-medium mb-2">Quick Links</h4>
        <div class="cell small-12">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/six-modules">Six Modules</a></li>
          </ul>
        </div>
      </div>
      <div>
        <h4 class="text-3xl font-medium mb-2">Contact</h4>
        <p>
          <a href="tel:+14016800840">(401) 680-0840</a><br />
          <a href="mailto:info@cc4es.org">info@cc4es.org</a>
        </p>
        <p>
          P.O. Box 27007<br />
          Providence, RI, 02907<br />
        </p>
      </div>
      <div>
        <h4 class="text-3xl font-medium mb-2">About Us</h4>
        <p>
          The Coalition Center for Environmental Sustainability (CC4ES) is a
          501(c)(3) non-profit grassroots organization for building sustainable
          and regenerative communities with environmental, social and economic
          justice and equity.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full text-center bg-green-700 text-white py-3">
    <span
      >Copyright &copy;2020 Coalition Center for Environmental Sustainability</span
    >
  </div>
</footer>
