<section
  class="bg-hero-pattern bg-cover bg-hero bg-no-repeat bg-blend-multiply"
>
  <div class="md:py-16 container w-full h-36 md:h-[400px] lg:h-[600px]">
    <h1
      class="text-3xl py-2 md:text-6xl lg:text-8xl font-bold tracking-tight text-white"
    >
      <span class="block">Coalition Center for</span>{" "}
      <span class="block text-green-500"> Environmental Sustainability</span>
    </h1>
    <p
      class="mt-3 text-base text-white sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0"
    >
      Linking Communities for Regenerative Sustainability
    </p>
  </div>
</section>
