<section
  class="bg-hero-pattern bg-cover bg-hero bg-no-repeat bg-blend-multiply"
>
  <div
    class="py-1 md:py-16 container w-full h-40 md:h-[500px] lg:h-[600px] text-shadow-md"
  >
    <h1
      class="text-3xl md:text-6xl lg:text-8xl font-bold tracking-tight text-white py-2"
    >
      <span class="block">Coalition Center for</span>{" "}
      <span class="block text-green-500"> Environmental Sustainability</span>
    </h1>
    <p
      class="mt-3 text-white sm:mt-5 md:mt-5 text-xl md:text-3xl lg:text-5xl lg:mx-0"
    >
      Linking Communities for Regenerative Sustainability
    </p>
  </div>
</section>

<style>
  .text-shadow-md {
    text-shadow: 0px 10px 30px black;
  }
</style>
