<section
  class="bg-hero-pattern bg-cover bg-no-repeat bg-blend-multiply bg-bottom"
>
  <div class="py-16 container mx-auto w-full h-80">
    <h1
      class="text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl"
    >
      <span class="block">Coalition Center for</span>{" "}
      <span class="block text-green-500"> Environmental Sustainability</span>
    </h1>
    <p
      class="mt-3 text-base text-white sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0"
    >
      Linking Communities for Regenerative Sustainability
    </p>
  </div>
</section>
