<div
  class="bg-heading-pattern bg-cover bg-no-repeat bg-blend-multiply bg-bottom py-2 sm:py-8 text-white text-center text-xl sm:text-5xl font-bold uppercase rounded-lg shadow-lg"
>
  <slot />
</div>
