<div class="relative pb-[56%]">
  <slot />
  <style is:inline>
    .video-iframe {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
  </style>
</div>
