---
title: "CC4ES | Hope Gardeners"
description: "Hope Gardeners"
hero_title: "Hope Gardeners"
hero_subtitle: "A forum for school and community gardeners of any size and shape"
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
      <blockquote>
        To plant a garden is to believe in tomorrow.
        <cite>Audrey Hepburn</cite>
      </blockquote>
    </div>
  </div> 

<article class='grid-container'>
  <div class='grid-x'>
    <div class='cell small-12'>
      <p>Growing our own food is the simplest and most direct action for sustainability. CC4ES implements outreach education on gardening at a grassroots level. CC4ES Hope Gardeners convenes school and community gardeners of any shape and size to share resources and support.  Gardening promotes environmental stewardship that improves environmental health for the whole community.  Gardens provide a platform that embraces and celebrates diversity,  building communities sustainable and resilient with environmental, economic and social equity and justice.</p>  
      <p>Hope Gardeners is an expansion of Providence School Gardeners, created for the same purposes:
      <ul>
        <li>to convene and support outreach education for sustainable lifestyle through gardening</li>
        <li>to share resources and information for continual learning to build resilient and sustainable communities with environmental, social and economic justice and equity.</li>
      </ul>
    </div>
    <div class="text-center cell small-12">
      <% link_to 'https://cc4es2.wixsite.com/hopegardeners', :class => "button" do %>
      <h4>Explore Further</h4>
      <% end %>
    </div>
  </div>
</article>
