---
nav: "index"
path: "./"
title: "CC4ES | Home"
description: "CC4ES is a grassroots, non-profit environmental organization dedicated to cultivating sustainable lifestyle in all walks of life.  CC4ES instills systemic mindset by linking communities through its systemic maps while helping individuals initiate small steps."
---

<div class="index-header-hero">
  <div class="grid-container">
    <h2 class="hero-title">Coalition Center for<br>Environmental<br>Sustainability</h2>
    <h4 class="hero-subtitle">Linking Communities for Resilient Sustainability</h4>
  </div>
</div>

<article class="grid-container">
  <div class="grid-x">
    <div class="text-center cell small-12">
      <h2><strong>A Web-Based Center That Cultivates<br>Sustainable Lifestyle In All Walks Of Life</strong></h2>
      <p>Ever emerging environmental, social and economic challenges necessitate a lifestyle that fosters sustainability. Cultivation of a sustainable lifestyle entails continual learning and diligent practices. Such endeavor resonates with the CC4ES core tenets: comprehensive collaboration for systemic changes, community-based and empowered motivation, and establishing an environment for lifelong learning and practice.</p>
      <p>Aligning with its core tenets, CC4ES WebCenter infrastructure is organized in three components -- learn, connect and practice:</p>    
    </div>
  </div>
  <div class="grid-x grid-padding-x grid-margin-x">
  <% data.site.modules.each do |card| %>
    <div class="grid-card cell small-12 medium-6 large-4">
      <div class="card-content">
        <% if card.module_id && card.module_id >= 0
            label_text = "#{card.label}" + " #{card.module_id}"
          else
            label_text = card.label
          end
        %>
        <div>
          <span class="tool-id-label"><%= label_text %></span>
        </div>
        <h3><%= card.title %></h3>
        <% if card.subtitle %><p><%= card.subtitle %></p><% end %>
      </div>
      <% link_to card.cta_page_key, :class => "button" do %>
        <%= card.cta_text %>
      <% end %>
    </div>
  <% end %>
  </div>
</article>
