---
title: "CC4ES | Trees4Sustainability"
description: "Trees for Sustainability"
hero_title: "Trees for Sustainability"
hero_subtitle: "Planting trees for environmental health & community well-being"
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
      <blockquote>
        A tree is known by its fruit; a man by his deeds.  A good deed is never lost; he who sows courtesy reaps friendship, and he who plants kindness gathers love.
        <cite>St. Basil</cite>
      </blockquote>
      <blockquote>
        Someone is sitting in the shade today because someone planted a tree a long time ago.
        <cite>Warren Buffett</cite>
      </blockquote>
    </div>
  </div> 
  <div class='cell small-12'>
      <h4 class="green-section-heading">Why We Need Trees</h4>
  
      <h5>Trees are a vital part of our world, and essential for our survival.</h5>  
      <p>Tree provide us with the oxygen we need to breathe, shelter for wildlife, and food to eat. And there is so much more.</p>
       <p>Here are 10 reasons why trees should be a staple in our landscaping.</p>
       <ol>
        <li>Trees increase property values. landscaping with trees and plants can increase property value by as much as 20% -- a great return on investment in terms of the small amount of upkeep trees require.</li>
        <li>Trees clean the air. A tree can absorb as much as 48 pounds of carbon dioxide each year and can sequester 1 ton of carbon dioxide by the time it reaches 40 years old. In addition, trees absorb odors and pollutant gases such as nitrogen oxides, ammonia, sulfur dioxide and ozone, and filter particulates out of the air by trapping them on their leaves and bark.</li>
        <li>Trees slow water runoff.Flash flooding can be significantly reduced by planting trees. According to About.com, a Colorado Blue Spruce, either planted or growing wild, can intercept more than 1,000 gallons of water annually when fully grown, which helps recharge underground aquifers.</li>
        <li>Trees prevent soil erosion. A tree’s root system binds the soil and its leaves provide a barrier to the wind and rain; thus preventing soil erosion.</li>
        <li>Trees help buffer noise pollution. Trees that are planted at strategic points in a neighborhood or around your house can abate major noises. This is especially nice if you live near a freeway or airport.</li>
        <li>Trees cool our homes, streets, and cities. Trees can cool a city by up to 10° Fahrenheit by shading homes and streets, breaking up urban “heat islands”, and releasing water vapor into the air through their leaves.</li>
        <li>Trees can save you money on energy costs. Building off the previous point, strategically placed trees can save homeowners up to 25 percent on energy bills by providing shade in the summer and windbreaks in the winter.</li>
        <li>Trees are beautiful. This is a no-brainer. Trees are stunning parts of our natural landscape. From the first buds of spring to the colorful leaves in the fall, trees are gorgeous. They make a great decoration indoors or outdoors.</li>
        <li>Trees are sacred. Trees were sacred to many ancient worlds, and still hold special meaning in many cultures today. The Druids believed a number of trees to be sacred, including the Ash tree from which healing wands were made. Today, many people in Madagascar worship them because they believe their ancestor's spirits live in the forests.</li>
        <li>Medicines are derived from trees (and plants). Did you know that aspirin was derived from willow bark? Or that dogwood bark has been used as a substitute for quinine? While many drugs that come from plants and trees have been replaced by synthetics, there is no denying how important they are when it comes to modern medicine and research.</li>
       </ol> 
       <div class="text-center cell small-12">
       <% link_to 'https://cc4es2.wixsite.com/trees4sustainability', :class => "button" do %>
       <h4>Tree Programs and Events</h4>
       <% end %>
     </div> 
  </div>
</article>
