---
import ArticleHero from "../../components/layout/ArticleHero.astro";
import type { Props as Program } from "../../components/program/ProgramCard.astro";
import ConnectProgram from "../../components/program/ProgramCard.astro";
import Layout from "../../layouts/Layout.astro";
const [practice] = await Astro.glob("../../data/practice.mdx");
const { programs } = practice?.frontmatter!;
---

<Layout title="Practice">
  <ArticleHero
    title="PRACTICE"
    subtitle="CC4ES Programs, Initiatives & On-Ground Cohorts in Practice"
  />
  <div class="container">
    <div class="text-center my-8">
      <h1 class="text-4xl">Interact - Share - Support</h1>
      <p class="text-xl">
        PRACTICE includes Rhody Grows Hope, Museum of Silenced Histories &
        Gardens of Regeneration, and Youths for Urban Sustainability, Y4US
      </p>
    </div>
  </div>
  <article class="container">
    <div>
      {
        programs.map((program: Program) => (
          <div class="my-4">
            <ConnectProgram {...program} />
          </div>
        ))
      }
    </div>
  </article>
</Layout>
