footer {
  padding-top: 2rem;
  background-color: rgb(80,124,60);
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url('/images/aloe_leaves_bg.jpg');
  background-size: cover;
  color: $white;

  h4, li {
    color: $light-gray;
  }

  ul {
    margin-left: 0;
    list-style-type: none;
  }

  a {
    color: $white;

    &:hover {
      color: $light-gray;
      text-decoration: underline;
    }
  }

  .footer-base {
    margin-top: 1rem;
    padding: 1em 0;
    background-color: #413502;
    font-size: 0.9em;
  }
}
