.title-bar {
  padding: 1rem 0.5rem;
  background: $light-yellow;

  .title-bar-title img {
    width: 150px;
    height: auto;
  }

  .menu-icon {
    margin: 0 .5rem;
    width: 30px;
    height: 20px;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background: $black;
      box-shadow: 0 9px 0 $black, 0 18px 0 $black;
      content: "";
    }
  }
}

.top-bar {
  border-bottom: 5px solid $accent-orange;

  @include breakpoint(small down) {
    padding: 0 0.5rem;
  }

  @include breakpoint (xlarge) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .main-logo {
    width: 180px;
    height: 39px;
  }
}
