@import 'settings';
@import '~foundation-sites/scss/foundation.scss';

@include foundation-everything(true);

@import 'nav';
@import 'footer';
@import 'grid-card';
@import 'video-fix';
@import 'content-images';
@import 'homepage';
@import 'about-us';

// Global styles

.page-container {
  @include breakpoint(medium) {
    min-height: 60vh;
  }
}

article {
  padding-top: 3rem;
  padding-bottom: 2rem;

  p, li {
    font-size: 1.2rem;
  }
}

img.full-width-photo {
  width: 100%;
  height: auto;
}

.image-caption {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.big-text {
  font-size: 1.5rem;
}

%cc4es-box-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04),
    0px 0px 15px rgba(0, 0, 0, 0.04),
    0px 0px 10px rgba(0, 0, 0, 0.04),
    0px 0px 5px rgba(0, 0, 0, 0.06),
    0px 0px 2px rgba(0, 0, 0, 0.12);
}

// Shared Content Page Styles

.coming-soon {
  text-align: center;
  padding: 3rem 2rem;
}

.green-section-heading {
  display: block;
  width: 100%;
  background-color: $light-gray;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url('/images/aloe_leaves_bg.jpg');
  color: $white;
  padding: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.01rem;
}

.module-image {
  width: 80vw;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  border: 3px solid $light-gray;
  margin-bottom: 0.5rem;
}

blockquote {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4em;
  border-left: 2px solid $medium-gray;
  color: $black;
  padding-left: 1.75rem;
  padding-right: 2rem;
  margin-bottom: 2rem;

  cite {
    color: $black;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    font-style: normal;

    &::before {
      display: block;
      margin-bottom: 0.5rem;
      line-height: 1px;
      content: "";
      height: 2px;
      width: 2rem;
      background-color: $medium-gray;
    }
  }
}

.contact-form {
  .red-text {
    color: red;
  }

  fieldset.topics-list {
    .topics-item {
      display: block;
    }
  }
}
