@import 'settings';
@import '~foundation-sites/scss/foundation.scss';

@include foundation-everything(true);

@import 'nav';
@import 'footer';
@import 'grid-card';
@import 'homepage';

.page-container {
  @include breakpoint(medium) {
    min-height: 60vh;
  }
}

.dropdown.menu>li.is-active>a {
  color: $black;
}

.coming-soon {
  text-align: center;
  padding: 3rem 2rem;
}

article {
  padding-top: 3rem;
  padding-bottom: 2rem;

  p, li {
    font-size: 1.2rem;
  }
}

.green-section-heading {
  display: block;
  width: 100%;
  background-color: $light-gray;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url('/images/aloe_leaves_bg.jpg');
  color: $white;
  padding: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.01rem;
}

.module-image {
  width: 80vw;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  border: 3px solid $light-gray;
  margin-bottom: 0.5rem;
}

.image-caption {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.big-text {
  font-size: 1.5rem;
}

%cc4es-box-shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04),
    0px 0px 15px rgba(0, 0, 0, 0.04),
    0px 0px 10px rgba(0, 0, 0, 0.04),
    0px 0px 5px rgba(0, 0, 0, 0.06),
    0px 0px 2px rgba(0, 0, 0, 0.12);
}

.image-with-overlay {
  @extend %cc4es-box-shadow;
  max-width: 360px;
  max-height: 500px;
  background: 
  linear-gradient(
    0deg,
    rgba(0,0,0,0.8) 0%,
    rgba(0,0,0,0.5) 58%,
    rgba(0,0,0,0) 100%),
    url('/images/leaf_over_water.jpg');
  background-size: cover;
  background-position: top center;
  color: $white;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 1rem;

  .quote {
    padding-top: 18rem;
    font-size: 1.4rem;
    line-height: 1.3em;
    display: block;
  }

  .author {
    display: block;
    font-size: 1em;
    padding: 0.5em 0;
  }
}

.title-with-photo {
  padding-bottom: 1rem;
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
  }

  .bio-text {
    display: block;
  }

  .about-headshot {
    width: 150px;
    height: auto;
    display: inline-block;
    margin-bottom: 1rem;
    border: 2px solid $light-gray;
  }

  .business-title {
    display: block;

    @include breakpoint(medium) {
      font-size: 1.5em;
    }
  }
}

blockquote {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4em;
  border-left: 2px solid $medium-gray;
  color: $black;
  padding-left: 1.75rem;
  padding-right: 2rem;
  margin-bottom: 2rem;

  cite {
    color: $black;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    font-style: normal;

    &::before {
      display: block;
      margin-bottom: 0.5rem;
      line-height: 1px;
      content: "";
      height: 2px;
      width: 2rem;
      background-color: $medium-gray;
    }
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 1rem;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.members-diagram, img.full-width-photo {
  margin-bottom: 1rem;

  @include breakpoint(medium) {
    margin-bottom: 2rem;
  }
}

img.hydrogen-bonding-diagram {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 0.5rem auto;
}

img.focus-on-sustainability-diagram {
  max-width: 750px;
  height: auto;
  display: block;
  margin: 0 auto 0.5rem auto;
}

img.diagram-food-system {
  max-width: 430px;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
}

img.diagram-reduce-food-waste {
  max-width: 240px;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
}

img.diagram-sustainable-food-habits {
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
}

img.full-width-photo {
  width: 100%;
  height: auto;
}

.contact-form {
  .red-text {
    color: red;
  }

  fieldset.topics-list {
    .topics-item {
      display: block;
    }
  }
}
