@import 'settings';
@import '~foundation-sites/scss/foundation.scss';

@include foundation-everything(true);

@import 'nav';
@import 'footer';
@import 'homepage';

.page-container {
  @include breakpoint(medium) {
    min-height: 60vh;
  }
}

.dropdown.menu>li.is-active>a {
  color: $black;
}

.coming-soon {
  text-align: center;
  padding: 3rem 2rem;
}
