---
import ArticleHero from "../../components/layout/ArticleHero.astro";
import Blockquote from "../../components/layout/Blockquote.astro";
import LinkButton from "../../components/LinkButton";
import VideoFrame from "../../components/VideoFrame.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sustainable Food Systems">
  <ArticleHero title="Sustainable Food Systems" subtitle="Module 3" />
  <div class="container">
    <div class="sm:mx-32">
      <Blockquote author="Anthony Bourdain"
        >Food is everything we are. It's an extension of nationalist feeling,
        ethnic feeling, your personal history, your province, your region, your
        tribe, your grandma. It's inseparable from those from the get-go.</Blockquote
      >
    </div>
    <article>
      <div class="text-center text-xl tracking-wide">
        <h3 class="my-2 text-3xl text-center">
          Sustainable Food Systems = Sustainable Lifestyle
        </h3>
        <div class="grid sm:grid-cols-2 gap-4">
          <div>
            <h4 class="text-center">What We Eat Impacts The Planet</h4>
            <p>
              Whether you believe in climate change or not, we all have to eat.
              What we eat has a great impact on the planet. It only takes a
              small change in our eating habits to have a great impact. This
              short video (5:39), “The diet that helps fight climate change”
              succinctly showcases the connection between our well-being and
              environmental health, and pinpoints deliverable small changes we
              can make. If not for environmental health, it is worthwhile to
              change your eating habits for your own well-being!!
            </p>
          </div>
          <div>
            <VideoFrame>
              <iframe
                class="video-iframe"
                width="560"
                height="349"
                src="https://www.youtube.com/embed/nUnJQWO4YJY?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </VideoFrame>
          </div>
        </div>

        <h3 class="my-2 text-3xl text-center">Zero Waste - The 5 R's</h3>
        <div class="grid sm:grid-cols-2 gap-4">
          <div>
            <VideoFrame>
              <iframe
                class="video-iframe"
                width="560"
                height="349"
                src="https://www.youtube.com/embed/OagTXWfaXEo?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </VideoFrame>
            <h5>10 Ways To Reduce Waste | Zero Waste For Beginners</h5>
          </div>
          <div class="space-y-4">
            <h4 class="text-center">
              Reduce, Recycle, Repurpose, Regenerate, Refuse
            </h4>
            <p>
              This video is one of many resources on reducing waste. I selected
              this because its messages integrate all of the CC4ES modules.
              Additionally, it promotes the ecosia.org search engine. Ecosia
              plants trees globally from your online searches – check it out.
            </p>
            <p>
              Understanding the scientific basis of zero waste will help
              cultivate behavioral change for a sustainable lifestyle. I welcome
              you to read further and take advantage of the resources below to
              make your own contribution to our global effort.
            </p>
          </div>
        </div>

        <p class="text-left mt-4 text-xl">
          Food production accounts for 26% of global greenhouse gas emissions.
          We can make a direct impact simply by being mindful of what we eat. We
          need to understand two main things for a sustainable lifestyle: how
          food systems work, and the parallel between our body’s microbial
          ecosystem and environmental ecosystems.
        </p>

        <div>
          <h3 class="my-2 text-3xl">
            Grow Your Own Food &amp; Connect With Your Body
          </h3>
          <h4 class="my-2 text-2xl">Start A Garden</h4>
          <p class="text-left">
            A small patch of garden to grow your own food goes a long way. When
            we grow our own food, we know what goes into it and we know what we
            are eating. It teaches us how to be sustainable first hand. In urban
            settings, gardening also helps us connect with nature.
          </p>
        </div>

        <div class="grid sm:grid-cols-2 gap-4 mt-4">
          <div>
            <h4 class="text-2xl text-center my-4">
              The Importance Of Urban Farming
            </h4>
            <p class="text-left">
              55% of the world's population lives in urban areas, a proportion
              that is projected to reach 68% by 2050. Currently, 80.7% of the US
              population lives within urban areas. As the world population
              growth rate outpaces land capable of growing food, it is critical
              to look into urban farming. Urban gardens connect community
              members and help build resilient communities. Many urban
              innovative agriculture technologies are emerging, such as
              hydroponic and vertical gardens. Urban gardens utilizing
              regenerative techniques helps us cultivate sustainable eating
              styles.
            </p>
          </div>
          <div>
            <VideoFrame>
              <iframe
                class="video-iframe"
                width="560"
                height="349"
                src="https://www.youtube.com/embed/XaEKJ5Vv3Zg?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </VideoFrame>
          </div>
        </div>

        <h3 class="my-2 text-3xl text-center">Our Body's Ecosystems</h3>
        <div class="grid sm:grid-cols-2 gap-4">
          <div class="space-y-4">
            <h4 class="text-center text-2xl my-4">Is organic the answer?</h4>
            <p class="text-left">
              Our gut health dictates our overall well-being. This video is
              rather scientific, but it demonstrates the importance of
              biodiversity in our gut microbiomes (or ecosystems). Microbes are
              bacteria that breaks down what we eat so the nutrients can be
              absorbed. If you want to learn more about microbes, check out the
              book <em>I contain multitudes</em> by Ed Young listed in the resources
              below. It will change your perception of microbes, and even learn to
              appreciate them.
            </p>
            <p class="text-left">
              Organic or not? Organic farming means no use of pesticides or
              synthetic fertilizers. Some foods have more pesticide than others
              — the dirty dozen (see the link below). Processed foods generally
              have preservatives and other chemicals which harm our gut
              ecosystems. It is healthier to eat less processed food. Locally
              sourced and seasonal food has a shorter shelf-life, can get to
              your table fresher and provider better nutrients.
            </p>
            <LinkButton
              href="https://www.healthline.com/nutrition/dirty-dozen-foods#the-ewg"
              >The Dirty Dozen</LinkButton
            >
          </div>
          <div>
            <h4 class="text-center text-2xl my-4">Gut Ecosystems</h4>
            <h5 class="text-left my-2">
              Your Gut Microbiome: The Most Important Organ You've Never Heard
              Of
            </h5>
            <VideoFrame>
              <iframe
                class="video-iframe"
                width="560"
                height="349"
                src="https://www.youtube.com/embed/B9RruLkAUm8?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </VideoFrame>
            <p class="text-left">
              There are other ways to help our gut ecosystems thrive. Practice
              mindfulness, exercise and connect with others. The book
              Farmacology by Daphne Smith, M.D. (listed below) explains in plain
              language the connection between what we eat and our gut
              ecosystems.
            </p>
          </div>
        </div>

        <h3 class="my-2 text-3xl text-center">Food System Elements</h3>
        <div class="grid sm:grid-cols-2 gap-4 my-4">
          <div>
            <p class="text-left">
              As shown in the diagram, a food system starts with food
              production, followed by distribution & aggregation, food
              processing, marketing, markets & purchasing, preparation &
              consumption, and finally resource & waste recovery. For individual
              circles, if we grow our own food, we get to skip several elements.
              This would save us ecological footprints.
            </p>
            <p class="text-left">
              <strong>DIY:</strong> Think about how you can reduce ecological footprints
              for each element of the food system. Be creative.
            </p>
          </div>
          <div class="text-center">
            <img
              class="mx-auto"
              src="/food_systems_elements.jpg"
              alt="diagram food system"
            />
          </div>
        </div>

        <h3 class="my-2 text-3xl text-center">
          Actions For Sustainable Food Systems
        </h3>

        <div class="grid sm:grid-cols-2 gap-4">
          <div>
            <h4 class="text-center">Actions To Reduce Food Waste</h4>
            <img
              class="mx-auto"
              src="/reduce_food_waste.jpg"
              alt="diagram reduce food waste"
            />
            <ul class="text-left my-4">
              <li>Plan ahead what to buy</li>
              <li>Buy what you need</li>
              <li>Store correctly</li>
              <li>Cook the right amount</li>
              <li>Eat it all or store leftovers for later</li>
              <li>Recycle what you can't eat</li>
            </ul>
            <LinkButton
              href="https://www.conserve-energy-future.com/35-easy-ways-to-eat-environmentally-friendly.php"
              >35 Environmentally Friendly Eating Habits</LinkButton
            >
          </div>
          <div>
            <h4 class="text-center">Sustainable Food Habits</h4>
            <img
              class="mx-auto"
              src="/sustainable_food_habits.jpg"
              alt="diagram-sustainable-food-habits"
            />
            <ul class="text-left">
              <li>Buy food produced by ecologically responsible methods</li>
              <li>Support fair and accessible farms, and local farmers!!!!</li>
              <li>Eat seasonal and locally grown food.</li>
              <li>Minimize food waste</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="grid sm:grid-cols-2 gap-4 text-xl">
        <div>
          <h3 class="my-4 text-2xl text-center">Recommended resources</h3>
          <ul>
            <li>
              <em>Farmacology: Total Health from the Ground Up,</em> by Daphne Smith,
              M.D.
            </li>
            <li>
              <em
                >I Contain Multitudes: The Microbes Within Us and a Grander View
                of Life</em
              >, by Ed Yong
            </li>
            <li>
              <em>The Suburban Micro-Farm: Modern Solutions for Busy People</em
              >, by Amy Stross
            </li>
          </ul>
        </div>

        <div>
          <h3 class="my-2 text-2xl text-center">
            Keywords for further exploration
          </h3>
          <ul>
            <li>Organic</li>
            <li>Foodscape</li>
            <li>Food desert</li>
            <li>Permaculture</li>
            <li>Urban Gardening or Agriculture</li>
            <li>probiotic</li>
            <li>microbiomes</li>
          </ul>
        </div>
      </div>
      <div class="text-center my-4">
        <LinkButton href="/six-modules">Back to Six Modules</LinkButton>
      </div>
    </article>
  </div>
</Layout>
