---
import ImageCaption from "../../components/ImageCaption.astro";
import ArticleHero from "../../components/layout/ArticleHero.astro";
import SectionHeading from "../../components/layout/SectionHeading.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Direct">
  <ArticleHero
    title="CC4ES Direct"
    subtitle="Direct access to the resources referenced in the Six Modules for practical applications"
  />
  <article class="container">
    <div class="mt-6 text-center tracking-wide">
      <div class="mt-4">
        <h2 class="text-2xl sm:text-4xl font-bold">
          Direct Grassroots Resource Connector<br />for Communities in Need
        </h2>
        <p class="text-xl text-left">
          CC4ES Direct is designed to link communities in need with essential
          resources through:<br />(1) Outreach education on growing our own food
          to address food insecurity, on nutrition and wellness to cultivate
          healthy lifestyle; and citizen scientist programs to platform
          environmental stewardship for environmental health<br />(2) Pipelining
          job training and apprenticeship programs for workforce development in
          green sector<br />(3) Facilitating equal access to, dissemination and
          sharing of information/resource for environmental, social and economic
          justice and equity for the following outcomes:
        </p>
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading
          >1. Food Security and Improved Environmental Health for Community
          Well-being</SectionHeading
        >
        <ImageCaption src="/hands_with_plants.jpg" alt="hands holding plants" />
        <p class="text-2xl font-semibold">
          Sustainable actions at individual level that cascade to communities
          and beyond
        </p>
        <p class="text-xl">
          Sustainability starts at the individual level. Food systems are the
          basis of securing environmental, social and economic sustainability.
          Growing our own food is the most direct means of addressing food
          insecurity and cultivating a healthy lifestyle. Sustainable food
          system promotes food-waste reduction, which also improves
          environmental health.
        </p>
        <p class="text-xl">
          Citizen scientist programs empower community members to improve their
          environmental health necessary for the well-being of the whole
          community, nurturing environmental stewardship in the long run.
        </p>
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading>2. Community-based Green Jobs</SectionHeading>
        <ImageCaption
          src="/vertical_garden.jpg"
          alt="vertical garden of edible plants"
        />
        <p class="text-2xl my-4 font-semibold">
          Boosting local economies and social capital
        </p>
        <p class="text-xl">
          Living things in nature regenerate — regrow themselves. Regenerative
          approaches work by mimicking nature. Examples include incorporating
          sustainable designs for gardening/farming, design architecture and
          landscape, transportation, and more. All these define emerging green
          job descriptions.
        </p>
        <p class="text-xl">
          Installing energy efficient lighting, storm water mitigation and
          implement water conservation techniques. Decreasing waste, composting,
          and recycling, repairing and sharing tools and equipment instead of
          purchasing new ones are sustainable practices that can evolve into
          entrepreneurship, creating businesses and jobs in local communities.
          And jobs keep them stay in communities.
        </p>
      </div>
      <div class="mt-4 space-y-4">
        <SectionHeading
          >3. Resilient Community as a place of idenity</SectionHeading
        >
        <ImageCaption src="/hands.jpg" alt="hands touching in collaboration" />
        <p class="text-2xl my-4 font-semibold">
          Invest Locally to Build a Resilient Community
        </p>
        <p class="text-xl">
          The grassroots approach of CC4ES Direct directly engages community
          members with various organizations and businesses, promoting the
          investment of social capital into the local community. This entails
          building relationships, supporting local initiatives and developing
          trust. The community reciprocates by supporting the businesses, a
          positive feedback loop that creates a resilient community.
        </p>
      </div>
    </div>
  </article>
</Layout>
