---
nav: "about-us"
path: "/about-us/"
title: "CC4ES | About Us"
description: "CC4ES is a grassroots, non-profit environmental organization dedicated to cultivating sustainable lifestyle in all walks of life.  CC4ES instills systemic mindset by linking communities through its systemic maps while helping individuals initiate small steps."
hero_title: "About Us"
hero_subtitle: "CC4ES cultivates sustainable lifestyle in all walks of life"
---

<%= partial 'partials/header' %>

<article class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 large-8">
      <h2>Mission Statement</h2>
      <p class="big-text">
        The Coalition Center for Environmental Sustainability (CC4ES) is a web-based
        center that provides a platform to link coalition members.
      </p>
      <p class="big-text">
        CC4ES is a community of businesses, policy makers and academia who all have
        the common goal of environmental sustainability.
      </p>
      <p class="big-text">
        Linking these members together with dynamic mapping and outreach education,
        CC4ES facilitates a collective shift towards a sustainable future. 
      </p>
    </div>
    <div class="cell small-12 medium-6 large-4">
      <div class="image-with-overlay">
        <span class="quote">One small individual act starts a ripple that affects the whole community. Start Yours!</span>
        <span class="author">Susan Shim Gorelick</span>
      </div>
    </div>
    <div class="cell small-12">
      <h2 class="green-section-heading">Our Team</h2>
    </div>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('susan_about.jpg', :alt => 'photo of Susan Gorelick', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Susan Shim Gorelick, PhD</span>
          <span class="business-title">Founder and Director of Programs</span>
        </div>
      </div>
      <p>
        Susan is a quintessential educator and a perpetual learner.  Her teaching principle focuses on a holistic approach, internal motivation, and building a network environment for lifelong learning. These are the core tenets of CC4ES.
      </p>
      <p>
        Susan actively engages in various learning disciplines.  She serves as an interdisciplinary adjunct professor at Johnson & Wales University and as a Master Gardener, volunteers as the regional manager for School Garden Mentors for Providence public schools.  Her aim is to link academia and local communities to cultivate internal mind shift for environmentally sustainable living.
      </p>
      <p>
        She has BS, MS and ABD degrees in chemistry, and a PhD in environmental and natural resource economics.  She has expertise in curriculum development with a focus on choice theory pedagogy. 
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('kimberly_about.jpg', :alt => 'photo of Kimberly Wood Bellemore', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Kimberly Wood Bellemore, P.E.</span>
          <span class="business-title">Director of Business Development and Marketing</span>
        </div>
      </div>
      <p>
        Kimberly’s background in engineering and environmental planning and her work in her consulting firm, KB Consulting, underpin the renewable and clean energy technology sectors for CC4ES.  Kimberly has been advocating for sustainable practices through her various community volunteer efforts and personal commitments.  Her systems thinking complements the vision and mission of CC4ES.  Her technological expertise is instrumental in bringing the interdependent community components into collaboration.
      </p>
      <p>
        Kimberly has a BS in Aerospace Engineering as well as a Masters in Urban and Environmental Planning.  She has over 25 years of program and project management experience in the ocean construction field and has served on the boards of Habitat for Humanity/Greenhome and Surfrider Foundation RI.
      </p>
    </div>
    <div class="cell small-12">
      <h2 class="green-section-heading">About CC4ES Members</h2>
    </div>
    <div class="cell small-12 medium-4">
      <%= image_tag('cc4es_dots_diagram.jpg', :alt => 'community members diagram', :class => 'members-diagram') %>
    </div>
    <div class="cell small-12 medium-8">
      <h4>CC4ES Members = CC4ES Dots</h4>
      <p>
        Since CC4ES is the Dot Connector, we would like to refer our members as CC4ES dots. CC4ES members are individual community members in three main groups — businesses and non-Government organizations; academia and other learning communities; and policy makers and government agencies. And you don’t need to be a tree-hugger in order to become a CC4ES Dot.
      </p>
      <p>
        CC4ES is not only for RI. Since it is based on systems thinking, its format can be used in any size and scale.  Although it started in RI, its application reaches beyond RI.
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <h4>How Does CC4ES Help Its Members?</h4>
      <p>
        CC4ES showcases each member by its Six-Module categories.  There will be overlaps.  Through its dynamic mapping, CC4ES links members to share resources for outreach education.  CC4ES inventories the resources in its digital platform for continual learning that cultivates collective sustainable lifestyle.
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <h4>How To Become A CC4ES Dot?</h4>
      <p>
        Contact us at cc4esdot@gmail.com, and we can help you from there.  Or you can fill out the invitation survey below.
      </p>
    </div>
  </div>
</article>

