---
nav: "additional-resources"
path: "/additional-resources/"
title: "Additional Resources"
description: "Links to Outside Resources"
hero_title: "Additional Resources"
hero_subtitle: "Links to websites of interest"
---

<%= partial 'partials/header' %>

<article class="grid-container">
  
<em><a href=":https://www.15minutefieldtrips.org/">15 Minute Field Trips</a></em>

<div class='text-center cell small-12'>
<% link_to 'https://roots2empower.org/', :class => "button" do %>
<h5 class='text-center'>Roots 2 Empower</h5>
<% end %>  
<h5><div class='text-center'>Gardening, Justice & Equity, Arts</h5>
</div>
</div>

<div class='text-center cell small-12'>
<% link_to 'https://www.gardenconservancy.org/open-days/garden-directory/peace-and-plenty-community-garden', :class => "button" do %>
<h5 class='text-center'>Peace and Plenty Community Garden</h5>
<% end %>  
<h5><div class='text-center'>Gardening</h5>
</div>
</div>

<div class='text-center cell small-12'>
<% link_to 'https://www.stagesoffreedom.org/', :class => "button" do %>
<h5 class='text-center'>Stages of Freedom</h5>
<% end %>  
<h5><div class='text-center'>Justice & Equity</h5>
</div>
</div>

<div class='text-center cell small-12'>
<% link_to 'https://www.rieea.org/', :class => "button" do %>
<h5 class='text-center'>R.I. Environmental Education Association, RIEEA</h5>
<% end %>  
<h5><div class='text-center'>Environmental Education, Sustainability, Justice & Equity</h5>
</div>
</div>

<div class='text-center cell small-12'>
<% link_to 'https://www.nricd.org/', :class => "button" do %>
<h5 class='text-center'>Northern R.I. Conservation District, NRICD</h5>
<% end %>  
<h5><div class='text-center'>Gardening, Sustainability, Justice & Equity</h5>
</div>
</div>

<div class='text-center cell small-12'>
<% link_to 'http://www.youngfarmernetwork.org/', :class => "button" do %>
<h5 class='text-center'>Young Farmers Network</h5>
<% end %>  
<h5><div class='text-center'>Gardening, Sustainability, Justice & Equity</h5>
</div>
</div>

<div class='text-center cell small-12'>
<% link_to 'https://www.comcap.org/', :class => "button" do %>
<h5 class='text-center'>Comprehensive Community Action Program, CCAP</h5>
<% end %>  
<h5><div class='text-center'>Environmental Education, Sustainability, Justice & Equity</h5>
</div>
</div>

<div class='text-center cell small-12'>
<% link_to 'https://pnpp.org/', :class => "button" do %>
<h5 class='text-center'>Providence Neighborhood Planting Program, PNPP</h5>
<% end %>  
<h5><div class='text-center'>Environmental Education, Sustainability, Justice & Equity</h5>
</div>
</div>

<div class='text-center cell small-12'>
<% link_to 'https://web.uri.edu/coopext/', :class => "button" do %>
<h5 class='text-center'>URI Cooperative Extension</h5>
<% end %>  
<h5><div class='text-center'>Gardening, Environmental Education, Sustainability, Justice & Equity, Health & Wellness</h5>
</div>
</div>

<div class='text-center cell small-12'>
<% link_to 'https://groundworkri.org/', :class => "button" do %>
<h5 class='text-center'>https://groundworkri.org/</h5>
<% end %>  
<h5><div class='text-center'>Gardening, Environmental Education, Sustainability</h5>
</div>
</div>

<div class='text-center cell small-12'>
<% link_to 'https://www.provgardener.com/', :class => "button" do %>
<h5 class='text-center'>https://www.provgardener.com/</h5>
<% end %>  
<h5><div class='text-center'>Gardening, Environmental Education, Sustainability</h5>
</div>
</div>
</article>
