---
nav: "contact"
path: "/contact/"
title: "CC4ES | Contact"
description: "CC4ES is a grassroots, non-profit environmental organization dedicated to cultivating sustainable lifestyle in all walks of life.  CC4ES instills systemic mindset by linking communities through its systemic maps while helping individuals initiate small steps."
hero_title: "Contact"
hero_subtitle: ""
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 text-center'>
      <h2>Contact Form</h2>
      <p class="big-text">Please fill out the form below and we will contact you as soon as possible.</p>
    </div>
  </div>
  <form name="contact" method="POST" data-netlify="true" class='contact-form'>
    <div class='grid-x grid-padding-x'>
      <div class='medium-6 cell'>
        <label >First Name<span class="red-text">*</span>
          <input type='text' name="first_name" required>
        </label>
      </div>
      <div class='medium-6 cell'>
        <label >Last Name<span class='red-text'>*</span>
          <input type='text' name="last_name" required>
        </label>
      </div>
      <div class='cell'>
        <label >Email<span class='red-text'>*</span>
          <input type='email' name='email' required>
        </label>
      </div>
      <div class='cell'>
        <label>Affiliated Organization
          <input type='text' name='organization'>
        </label>
      </div>
      <fieldset class="cell topics-list">
        <legend>Select CC4ES Programs if you are interested to participate.</legend>
        <div class="topics-item">
        <input id="module1" name='module1' type="checkbox"><label for="module1">Rhody Grows Hope</label>
        </div>
        <div class="topics-item">
        <input id="module2" name='module2' type="checkbox"><label for="module2">Museum of Silenced Histories and Gardens of Regeneration</label>
        </div>
        <div class="topics-item">
        <input id="module3" name='module3' type="checkbox"><label for="module3">Youths for Urban Sustainability, Y4US</label>
        </div>
        <div class="topics-item">
        <input id="module4" name='module4' type="checkbox"><label for="module4">Hope Gardeners</label>
        </div>
        <div class="topics-item">
        <input id="module5" name='module5' type="checkbox"><label for="module5">CC4ES Conversation Circles</label>
        </div>
        <div class="topics-item">
        <input id="module6" name='module6' type="checkbox"><label for="module6">CC4ES Direct</label>
        </div><br/>
      </fieldset>
      <fieldset class="cell">

        <legend>CC4ES Mailing List</legend>
        <input id="mailing_list" name='mailing_list' type="checkbox" checked><label for="mailing_list">Please add me to your mailing list.</label><br/>
        <br/>
        </fieldset>
      <fieldset class="cell">
      
        <legend>Become a CC4ES Collaborator, Advisor or Participant to help build sustainable communities</legend>
        <input id="member_signup" name='member_signup' type="checkbox"><label for="dot_signup">I am interested to join the CC4ES Team.</label>
      </fieldset>
      <label class='cell'>
      
        Comment or Message
        <textarea rows="5" name='message'></textarea>
      </label>
      <div class='cell'>
        <button type="submit" class="button">Submit</button>
      </div>
    </div>
  </form>
</article>
