---
nav: "conversation-circles"
path: "/conversation-circles/"
title: "CC4ES Conversation Circles"
description: "Updates from the CC4ES Conversation Circles"
hero_title: "CC4ES Conversation Circles"
hero_subtitle: "Site Under Construction - Coming Soon"
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
      <blockquote>
        "All problems exist in the absence of a good conservation."
        <cite>Thomas Leonard</cite>
      </blockquote>
    </div>
    
    
    </div>
  </div>

</article>
