---
title: "CC4ES | Environmental Literacy Fundamentals"
description: "Coming Soon"
hero_title: "Environmental Literacy Fundamentals"
hero_subtitle: "Module 2"
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
      <blockquote>
        The goal is to make your heartbeat match the beat of the universe, to match your nature with nature.
        <cite>Joseph Campbell</cite>
      </blockquote>
    </div>
    <div class='cell small-12'>
      <h3 class='text-center'>Science through environmental sustainability filter</h3>
      <p>Welcome to CC4ES’ Environmental Literacy Fundamentals Module. The discipline of science encompasses massive information, so this module explores science only through the environmental sustainability filter. I will do my best to limit the use of science jargon, but sometimes we have to know the scientific terms. For those, please refer to the resources and keywords.</p>
      <h3 class='text-center'>Energy, the beat of the universe</h3>
    </div>
    <div class='cell small-12 medium-10 medium-offset-1'>
      <%= image_tag('milky_way.jpg', :alt => 'milky way galaxy night sky', :class => 'full-width-photo') %>
    </div>
    <div class='cell small-12'>
      <h3 class='text-center'>Light energy from the sun</h3>
      <p>No matter how insignificant the universe makes us feel, we are part of the universe —&nbsp; energy connects us.&nbsp; Energy comes in many different forms — electrical, mechanical, thermal, nuclear, etc., and it can change forms.&nbsp; Light energy from the sun is the main energy source.&nbsp; Light has both wave and particle properties.&nbsp; Wave property gives us rainbows — a sliver of electromagnetic spectrum.&nbsp; Only species equipped with chlorophyll (mainly plants) can harvest sunlight directly into useful form.&nbsp;</p>
    </div>
    <div class="cell small-12 medium-6">
      <h4 class='text-center'>What is light?</h4>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/BUYeQa_-ojk?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12 medium-6">
      <h4 class='text-center'>Electromagnetic Spectrum</h4>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/pj_ya0e20vE?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12 medium-6">
      <h4 class='text-center'>Chlorophyll for photosynthesis</h4>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/UPBMG5EYydo?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p>This video for kids covers all the important components about how plants make our life possible:&nbsp;</p><ul><li>Basis of food chains — trophic levels</li><li>Sun light, carbon dioxide, and water</li><li>How plants filter the pollutants out of the system.</li></ul>
    </div>
    <div class="cell small-12 medium-6">
      <h4 class='text-center'>Why four seasons?</h4>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/WgHmqv_-UbQ?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <p>We have different seasons because Earth revolves on a tilted axis.&nbsp; During its orbit around the sun, different regions are exposed to different amounts of sunlight.&nbsp; If Earth were not tilted, we would have the same season year round.&nbsp; Different amount of sunlight determines where and how effectively vegetation grows, thereby influencing what we eat and when.&nbsp; These are the reasons why eating locally grown and seasonal food is sustainable.&nbsp;</p>
    </div>

    <div class='cell small-12'>
      <h3 class='text-center'>Water makes nature tick</h3>
      <p><span>Sunlight drives the water and nutrient cycles in the ecosystems.&nbsp; The unique physical properties of water make these cycles possible so our ecosystems work.&nbsp;</span></p><p>Once sunlight reaches the earth, it starts energy flow on the planet using water as its vehicle.&nbsp; Water has some very unique physical properties that make life on the planet possible:</p><ol><li>Water exists in all three phases — solid (ice), liquid (water), and gas (steam),&nbsp; which allows it to circulate in the air, soil and water bodies (lakes and ocean).&nbsp; Water is dynamic, supporting life through its phase transition cycles — condensation/evaporation, freezing/melting, and deposition/sublimation.&nbsp;</li><li>Water has a high heat capacity due to its polar bonds — it can hold large amounts of heat. This makes water a universal cleaning solution.&nbsp;</li><li>As a polar molecule (with a positive H+ and a negative OH- in its molecular structure), water attracts nutrients (as well as pollutants) and circulate them in various ecosystems.</li></ol>
    </div>

    <div class='text-center cell small-12 medium-6'>
      <%= image_tag('water_h_bonding.jpg', :class => 'hydrogen-bonding-diagram') %>
      <% link_to 'https://www.usgs.gov/special-topic/water-science-school/science/water-properties-information-topic?qt-science_center_objects=0#qt-science_center_objects', :class => "button" do %>
        More on Water
      <% end %>
    </div>
    <div class='cell small-12 medium-6'>
      <p>
        Hydrogen bonding between water molecules creates a hexagon shape, allowing it to hold air within. Try to examine ice or snow under a microscope and you can view the hexagon shape. It is this hydrogen bonding and air trapping that gives water the unique property of its solid form floating on its liquid form. This creates an important ecological benefit — only the top surface of a lake freezes. Surface ice insulates the water beneath and species survive without freezing. 
      </p>
    </div>

    <div class="cell small-12">
      <h3 class='text-center'>How our ecosystem works</h3>
    </div>

    <div class="cell small-12 medium-6">
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/5jBV9vJmXZI?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="cell small-12 medium-6">
      <p>It is important to note the circular feedback loop between photosynthesis and cellular respiration.  Most of us don’t realize that plants need to breathe.  They do it at night, void of sunlight.  That’s why the amount of carbon dioxide in the air fluctuates between day and night. </p>
      <p>Heat is energy in waste form.  As energy processes through the food chain (of various trophic levels) from the primary producer (plants) through the consumer levels, heat produced in transition decreases the efficiency.  Water’s unique characteristic of hydrogen bonding between water molecules) makes this possible. </p>
    </div>

    <div class="cell small-12">
      <h4 class='text-center'>Systemic Processes Of Environmental Ecosystems → Ecosystem Services</h4>
    </div>

    <div class="cell small-12 medium-6">
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/YbyxzGbYQBc?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class="cell small-12 medium-6">
      <p><span>“Healthy biodiversity is the essential infrastructure that supports all forms of life on earth, including human life.”</span></p><p>The four categories of ecosystem services are:</p><ul><li>Supporting Services</li><li>Provisioning Services</li><li>Regulating Services</li><li>Cultural Services</li></ul><p>See if you can categorize the examples from the video into four ecosystem services.&nbsp;</p>
    </div>

    <div class="cell small-12">
      <h3 class='text-center'>Humans enter the ecosystem - the IPAT Equation</h3>
    </div>

    <div class="cell small-12 medium-6">
      <h4 class='text-center'>Human population growth</h4>
      <p>IPAT or I = P x A x T (<span>I = human Impact, P = population, A = Affluence, T = technology (fossil fuel)).&nbsp; Human impact is exponential, particularly human population growth.&nbsp;</span></p><p>Hans Rosling compares population growth in rich and poor countries, and showcases their disparity.&nbsp; He argues that although developed countries comprise 10% of the world population, they consumes 25% of the earth’s resources (carbon footprints) , we need to adjust.&nbsp;</p><p>What actions can we take on? See the <i>Focus on Sustainability</i> grid below and make a list of actions to take on an individual level.&nbsp;</p>
    </div>

    <div class="cell small-12 medium-6">
      <h5>Population growth &amp; climate change by Hans Rosling</h5>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/SxbprYyjyyU?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <div class='cell small-12'>
      <h3 class='text-center'>Focus on sustainability</h3>
      <%= image_tag('focus_on_sustainability.jpg', :alt => 'Focus on Sustainability diagram', :class => 'focus-on-sustainability-diagram') %>
    </div>

    <div class='cell small-12'>
      <h3 class='text-center'>Actions we can take</h3>
      <p>Sustainability is defined as the ability to meet humanity’s current needs without compromising the ability of future generations to meet their needs.&nbsp; Sustainability is achieved when the environment can function indefinitely without going into a decline from the stresses that human society imposes on natural systems, such as fertile soil, water, and air.&nbsp; Sustainability applies at many levels, including&nbsp; the individual, communal, regional, national and global levels.</p>
      <p><strong>Individual level</strong>: be a mindful consumer, buy and consume only what we need; reduce waste; and prevent pollution where possible.</p>
      <p><strong>Communal level</strong>: connect with others; invest social capital in our local community. This helps instill resilience.</p>
      <p><strong>Regional,</strong> <strong>national, and global levels:</strong> engage in our own civic obligations as a constituent. Pay attention to current events at all of these levels. This helps us stay informed of emerging policies, so when we vote, we can make informed decisions. Most importantly, exercise our privileged voting rights to have our voices heard. Let us rememeber how many people sacrificed for those voting rights!!!!</p>
      <p><strong>Ecological Footprint</strong>: It all has to start at the individual level, make a list of actions you can take to tackle each grid above. Let’s see if we can compare our lists. For now, find out your ecological footprints. <strong>Ecological footprint</strong> is an amount of productive land, fresh water, and ocean required on a continuous basis of supply that person with food, wood, energy, water, housing, clothing, transportation, and waste disposal. Allotted global footprint is 4.3 acres. See how yours compares, and think about how you can make your ecological footprint sustainable.</p>

      <% link_to 'http://ecologicalfootprint.com/', :class => "button" do %>
        Ecological Footprint Calculator
      <% end %>
    </div>

    <div class='cell small-12 medium-6'>
      <h3 class='text-center'>Recommended resources</h3>
      <ul>
      <li><em>No Impact Man: the adventures of a guilty liberal who attempts to save the planet and the discoveries he makes about himself and our way of life in the process</em>, by Colin Beavan</li>
      <li><em>Full Planet, Empty Plates: The New Geopolitics of Food Scarcity</em>, by Lester Brown</li>
      <li><em>Plan B 2.0: Rescuing a Planet Under Stress and a Civilization in Trouble</em>, by Lester Brown</li>
      </ul>
      <h5>Educational Notes - Susan Shim Gorelick (Coming Soon)</h5>
      <ul>
        <li>How Ecosystems Work</li>
        <li>Human Population</li>
        <li>Land Resources</li>
        <li>The Ocean &amp; Fisheries</li>
        <li>Biogeochemical Cycles</li>
        <li>Biodiversity</li>
      </ul>
    </div>

    <div class='cell small-12 medium-6'>
      <h3 class='text-center'>Keywords for further exploration</h3>
      <ul><li>ecological footprints</li><li>ecosystem services</li><li>water cycle</li><li>nutrient cycles</li><li>self-regulatory feedback</li><li>positive or negative feedback loop</li><li>electromagnetic field</li><li>chlorophyll</li><li>carbon sequestration</li><li>carbon neutral</li><li>sustainability</li></ul>
    </div>

    <div class='cell small-12'>
      <h3 class='text-center'>Questions to reflect</h3>
      <ul><li>How do you define sustainability, and why?</li><li>Why is sustainability important?&nbsp; And is it to you?</li></ul>
    </div>
  </div>
</div>