---
title: "CC4ES | Environmental Justice & Diversity"
description: "Coming Soon"
hero_title: "Environmental Justice & Diversity"
hero_subtitle: "Module 1"
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
      <blockquote>
        We all should know that diversity makes for a rich tapestry, and we must understand that all the threads of the tapestry are equal in value no matter what their color.
        <cite>Maya Angelou</cite>
      </blockquote>
    </div>
    <div class="cell small-12">
    <h3 class="text-center" id="-facing-our-own-implicit-biases-">Facing Our Own Implicit Biases</h3>
    <p>Implicit bias is an unconscious bias. Whether we want to admit it or not, we all have implicit biases. Unfortunately, most of us do not realize when we are influenced by our own biases, especially those involving race and gender. Civil rights movements and policies have made explicit biases, such as racial and gender discrimination, socially unacceptable and illegal, yet they are still pervasive.</p>
    <h3 class="text-center" id="-identify-your-own-hidden-biases-with-project-implicit-">Identify Your Own Hidden Biases With Project Implicit</h3>
    <p>Project implicit is an on-going research project at Harvard University led by Mahzarin R. Banaji. Its free online <a href="https://implicit.harvard.edu/implicit/takeatest.html">IAT</a>, implicit association test is simple and fun. However, please note the disclaimer that the test results are not absolute. It has been a great ice-breaker for my students to start uncomfortable, yet important conversations about racism. For more details about IAT, check out her book, <em><a href="https://www.amazon.com/Mahzarin-R-Banaji/e/B00DVPMT9Q?ref=sr_ntt_srch_lnk_1&amp;qid=1598544938&amp;sr=1-1">Blindspot: Hidden Biases of Good People.</a></em></p>
    <h3 class="text-center" id="-white-fragility-why-it-s-so-hard-for-white-people-to-talk-about-racism-">White Fragility: Why It&#39;s So Hard For White People To Talk About Racism</h3>
    </div>
    <div class="cell small-12 medium-6">
      <p><a href="https://www.amazon.com/White-Fragility-People-About-Racism/dp/0807047414/ref=sr_1_3?crid=3U7FLKJ5RLZZF&amp;dchild=1&amp;keywords=white+fragility+robin+diangelo&amp;qid=1598548097&amp;s=books&amp;sprefix=whit%2Caps%2C194&amp;sr=1-3">“<em>White Fragility: Why It’s So Hard for White People to Talk About Racism</em>“</a> is a book by Robin DiAngelo and Michael Eric Dyson. Why is it so hard? This is an important question because we need to come out of our comfort zone to talk about racism. This interview with Robin DiAngelo eases into starting a conversation. DIY: Review her recommendations and see how you may use them to shape your own approach.</p>
      <p><em>The New Jim Crow</em> by Michelle Alexander explores systemic implicit racism and shows how it is not isolated to white people. There are many people of color who are unknowingly or even intentionally racist. “White” is not the color of skin, it is an attitude based on our own paradigms — the very reason we need to start this important exploration from within ourselves.</p>
    </div>
    <div class="cell small-12 medium-6">
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/KCxNjdewAAA?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12">
      <h3 class="text-center" id="-more-on-starting-a-conversation-about-racism-">More On Starting A Conversation About Racism....</h3>
      <p>These are additional books I found helpful:</p>
      <ul>
      <li><a href="https://www.amazon.com/You-Want-Talk-About-Race/dp/1580058825/ref=sr_1_3?crid=2MIZ0LQN9QVWF&amp;dchild=1&amp;keywords=so+you+want+to+talk+about+race+ijeoma&amp;qid=1598566103&amp;s=books&amp;sprefix=So+you+%2Caps%2C189&amp;sr=1-3"><em>So You Want to Talk About Race</em></a>, by Ijeoma Oluo– the author suggests ways to call out racism, and practical tips to start conversations on racism.</li>
      <li><a href="https://www.amazon.com/Opposite-Hate-Field-Repairing-Humanity/dp/1616209399/ref=sr_1_2?crid=3OKXYHPKZP9FO&amp;dchild=1&amp;keywords=the+opposite+of+hate&amp;qid=1598566183&amp;s=books&amp;sprefix=The+opposite+of+hate%2Cstripbooks%2C162&amp;sr=1-2"><em>The Opposite of Hate: A Field Guide to Repairing Our Humanity,</em></a> by Sally Kohn — on how to create a neutral space for conversations about racism and other conflicts.</li>
      <li><a href="https://www.amazon.com/Me-White-Supremacy-Combat-Ancestor/dp/1728209803/ref=sr_1_1_sspa?crid=1R0CRH1AGU60T&amp;dchild=1&amp;keywords=me+and+white+supremacy+by+layla+f.+saad&amp;qid=1598566243&amp;s=books&amp;sprefix=Me+and+Whi%2Cstripbooks%2C186&amp;sr=1-1-spons&amp;psc=1&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzQ1pJMVhYWUNOUFhQJmVuY3J5cHRlZElkPUEwODk3Njg4NkRRUlNVVUtFMVU1JmVuY3J5cHRlZEFkSWQ9QTA5MzcwNDAyUlU5NDFINU9OUUlSJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="><em>Me and White Supremacy: Combat Racism, Change the World, and Become a Good Ancestor</em></a>, by Layla Saad and Robin DiAngelo — the book is in discussion format with a weekly topic and reflections. This started as an Instagram format, and eventually converted into a book.</li>
      <li><a href="https://www.amazon.com/How-Be-Antiracist-Ibram-Kendi/dp/0525509283/ref=sr_1_"><em>How to Be an Antiracist</em></a>, by Ibram X. Kendi</li>
      </ul>
      <h3 class="text-center" id="-place-of-identity-denied-">Place Of Identity Denied</h3>
      <p>Do you have a place of identity where you can establish relationships and cultivate your own values and beliefs?  A place of identity could be your home, school, business, community. What if you were displaced from or denied access to such a place?  We need to understand our history.  Only then, can we move forward to achieve an environmentally and socially just society.  The 1619 Project is a documentary podcast about 400 years of Black American slavery. It sheds light on the systemic magnitude of racism — basically for the profit of cotton industries. The video below, “Why All Americans Should Care About ‘Environmental Racism?” shows how Indigenous people were displaced from their own ancestors’ land.  It is a good representation of why environmental and social justice is necessary to address the current issues we face. </p>
    </div>
    <div class="cell small-12 medium-6">
      <h4>The 1619 Project</h4>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/XrfV7w3EyGI?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12 medium-6">
      <h4>Why All Americans Should Care About 'Environmental Racism'​</h4>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/CeNqlqFLW8A?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12">
<h3 class="text-center" id="racism-environment-redlining-the-green-ceiling">Racism &amp; Environment: Redlining &amp; The Green Ceiling</h3>
<p>Environmental movements and implicit racism have a long parallel history. Redlining is an ongoing process that associates people of color with inner-city urban communities with limited public access to nature. Decades ago, the 12-16% green ceiling was set for people of color communities to be represented in any environmental organizations. People of color make up 36% of the U.S. population and 29% of the science and engineering workforce, yet the green ceiling has not be broken. In order for us to achieve environmental justice, we need to tackle systemic racism.</p>
    </div>
    <div class="cell small-12 medium-4">
  <h5>Housing Segregation And Redlining In America: A Short History</h5>
  <div class="videoWrapper">
    <iframe width="560" height="349" src="https://www.youtube.com/embed/O5FBJyqfoLM?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <p>
    This short summary provides a comprehensive look at how redlining brought about housing segregation.  Redlining is not limited to just housing – it can affect any place of identity, such as educational institutions, businesses, the community at large.  
  </p>
</div>
<div class="cell small-12 medium-4">
  <h5>How Redlining Shaped Black America As We Know It</h5>
  <div class="videoWrapper">
    <iframe width="560" height="349" src="https://www.youtube.com/embed/2o-yD0wGxAc?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<p>This video demonstrates how redlining creates a vicious cycle of racism that spans generations. The book <em><a href="https://www.amazon.com/Reproducing-Racism-Everyday-Choices-Advantage/dp/0814777120">Reproducing Racism: How Everyday Choices Lock In White Advantages</a></em>, by Doria Rothmayr, sums up how redlining perpetuates racism.</p>
</div>
<div class="cell small-12 medium-4">
  <h5>Segregated by Design - Uncovering the Forgotten History of How Our Gorvernment Segregated America</h5>
  <div class="videoWrapper">
    <iframe width="560" height="349" src="https://www.segregatedbydesign.com" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<p>In this video, Robert Rothstein, the author of 'The Color of Law: A Forgotten History of How Our Government Segregated America' narrates redlining through a public policy lense and how redlining still continuously perpetuates racism in our current society.</p>
</div>
    <div class="cell small-12 medium-6">
      <h3 id="recommended-resources">Recommended Resources</h3>
<ul>
<li><em><a href="https://www.amazon.com/Race-Matters-25th-Anniversary-audiobook/dp/B0786WGHB9/ref=sr_1_1?crid=3R3OEGNJ0PP1V&amp;dchild=1&amp;keywords=race+matters%2C+25th+anniversary+with+a+new+introduction&amp;qid=1598567248&amp;s=books&amp;sprefix=Race+matters%2Caps%2C165&amp;sr=1-1">Race Matters</a></em> 25th Anniversary, by Cornel West, JD Jackson, et al</li>
<li><em><a href="https://www.amazon.com/The-New-Jim-Crow-audiobook/dp/B007R0L47O/ref=sr_1_1?dchild=1&amp;keywords=The+Jim+Crow&amp;qid=1598567314&amp;s=audible&amp;sr=1-1">The New Jim Crow: Mass Incarceration in the Age of Colorblindness,</a></em> 10th Anniversary Edition, by Michelle Alexander</li>
<li><em><a href="https://www.amazon.com/The-Color-of-Law-audiobook/dp/B0747SW5PF/ref=sr_1_1?crid=2TVDJ38C58HOS&amp;dchild=1&amp;keywords=the+color+of+law+richard+rothstein&amp;qid=1598567476&amp;s=audible&amp;sprefix=The+color+of+law%2Caudible%2C175&amp;sr=1-1">The Color of Law: A Forgotten History of How Our Government Segregated America</a></em>, by Richard Rothstein</li>
<li><em><a href="https://www.amazon.com/Reproducing-Racism-Everyday-Choices-Advantage/dp/0814777120">Reproducing Racism: How Everyday Choices Lock In White Advantages</a></em>, by Doria Rothmayr</li>
</ul>
    </div>
        <div class="cell small-12 medium-6">
<h3 id="key-words-for-further-exploration">Key Words For Further Exploration</h3>
<ul>
<li>Redlining</li>
<li>Gentrification</li>
<li>Green ceiling</li>
<li>Intersectionality, the term coined by Kimberle Crenshaw</li>
<li>White fragility</li>
<li>implicit racism</li>
</ul>
    </div>
        <div class="cell small-12">
<h3 class="text-center" id="questions-for-reflection">Questions For Reflection</h3>
<ul>
<li>Why do we need to address racism to tackle environmental issues?</li>
<li>Can you identify your own implicit biases? How would you start?</li>
<li>How is redlining related to the green ceiling?</li>
<li>Can a person of color be a racist? Can you argue this point from either side?</li>
</ul>

    </div>
  </div>
</article>
