---
title: "CC4ES | How CC4ES Began"
description: ""
hero_title: "How CC4ES began"
hero_subtitle: "A narrative by Susan Gorelick, Founder of CC4ES"
---

<%= partial 'partials/header' %>

<article class="grid-container">
  <div class="grid-x">
    <div class="cell small-12 text-center">
      <h2 id="-ready-to-start-a-sustainable-life-"><strong>Ready to start a sustainable life?</strong></h2>
      <p class="big-text">Welcome aboard.</p>
    </div>
    <div class="cell small-12">
      <p>Many of the resources and approaches that are shared with you are the extension of lessons I have created and taught in college courses, including environmental science, economics and chemistry. Two observations that compelled me to create CC4ES: (1) Perceptional change — we need to change our perception for tackling environmental issues. We have all of the necessary data and information, we need to put it into action, (2) Internal motivation — we all need to change individually for collective momentum. Social science research and studies confirm that simply sharing data and information through outreach education do not necessarily lead to long-term behavioral change. So, CC4ES uses experiential learning, which is the most effective means of retaining knowledge. With consistent cultivation, our knowledge becomes wisdom. Practical applications suggested are from my own experiential learning as a Master Gardener, and my daily practice of mindful consumption and minimalism.</p>
    </div>
    <div class="cell small-12 text-center">
      <h3>A platform to bridge academia and the general public</h3>
    </div>
    <div class="cell small-12">
      <p>Academic scientific research provides very important information, but it needs to be framed in a language that the public can understand and relate to. CC4ES filters information/data in its six modules, and translates it into more basic language, using digital resources as reference.</p>
    </div> 
    <div class="cell small-12 text-center">
      <h3>Personal reflection: start a journal for this journey</h3>
    </div>
    <div class="cell small-12">
      <p>Keeping a personal journal has become a must in my classes. Most of my students appreciate how it positively affects them and helps them handle challenges beyond the classroom. So start yours, and see how it works out for you.</p>
    </div>
    <div class="cell small-12 text-center">
      <h3>CC4ES resources are based on science</h3>
    </div>
    <div class="cell small-12">
      <p>The resources posted, and comments shared are based on my own personal readings, and take-away from workshops/programs and events. This holds the same for CC4ES team members. These resources are selected for six module categories, after science-based credence verification. If you have other resources and information you would like to share, please contact us.</p>
    </div>
    <div class="cell small-12 text-center">
      <h3>How resources are organized</h3>
    </div>
    <div class="cell small-12">
      <p>We did our best to keep the resources organized in a consistent structure for each of the six modules. As shown in the systemic map below, these six modules cover different facets of our lifestyle, yet, they are all interconnected. The Environmental Justice &amp; Diversity module underpins all of the others. It is important to explore our own personal paradigms which influence our perception of the world. The resources comprise of links to pertinent articles, books, videos, and podcasts; there are questions that will hopefully help you reflect on your personal journey; keywords for further exploration; DIY activities, how to start a garden, and yes, most importantly sustainable living. CC4ES Maps provide both conceptional and geographical maps depending on the module. It is always a work in process due to the dynamic nature of the material. Again, please share any thoughts you think may help us with this journey. We welcome and appreciate your participation and sharing.</p>
    </div>
    <div class="text-center cell small-12">
      <h3>Systemic Map of CC4ES</h3>
      <%= image_tag('six_modules_system_map.jpg', :class => 'system-map') %>
    </div>
  </div>
</div>
