---
nav: "index"
path: "./"
title: "CC4ES | Home"
description: "CC4ES is a grassroots, non-profit environmental organization dedicated to cultivating sustainable lifestyle in all walks of life.  CC4ES instills systemic mindset by linking communities through its systemic maps while helping individuals initiate small steps."
---

<div class="index-header-hero">
  <div class="grid-container">
    <h2 class="hero-title">Coalition Center for<br>Environmental<br>Sustainability</h2>
    <h4 class="hero-subtitle">Linking Communities for Resilient Sustainability</h4>
  </div>
</div>

<article class="grid-container">
  <div class="grid-x">
    <div class="text-center cell small-12">
      <h2><strong>A Web-Based Center That Cultivates<br>Sustainable Lifestyle In All Walks Of Life</strong></h2>
      <p>Ever emerging environmental, social and economic challenges necessitate a lifestyle that fosters sustainability. Cultivation of a sustainable lifestyle entails continual learning and diligent practices. Such endeavor resonates with the CC4ES core tenets: comprehensive collaboration for systemic changes, community-based and empowered motivation, and establishing an environment for lifelong learning and practice.</p>
      <p>Aligning with its core tenets, CC4ES WebCenter infrastructure is organized in three components -- learn, connect and practice.</p>    
    </div>
  </div>
  <div class="grid-x grid-padding-x grid-margin-x">
    <div class="grid-card cell small-12 medium-6 large-4">
       <div class="card-content">
         <p>LEARN inventories resources by each of Six Modules for continual learning</p>
         <% link_to 'six-modules.htlm.erb', :class => "button" do %>
          <h2><strong>LEARN</h2>
         <% end %>
        </div>   
       <div class="card-content">
         <p>CONNECT houses a list of organizations relevant to each of Six Modules for network mapping</p>
         <% link_to 'connect.html.erb', :class => "button" do %>
          <h2><strong>CONNECT</h2>
         <% end %>
        </div>   
       <div class="card-content">
        <p>PRACTICE features CC4ES programs & initiatives in practice</p>
         <% link_to 'practice.html.erb', :class => "button" do %>
          <h2><strong>PRACTICE</h2>
         <% end %>    
        </div>   
    </div>
  </div>
  <div class='cell small-12 medium-4'>
    <%= image_tag('CC4ES_Learn_home.jpg', :class => 'LEARN-image') %>
    <%= image_tag('CC4ES_Connect_home.jpg', :class => 'CONNECT-image') %>
    <%= image_tag('CC4ES_Practice_home.jpg', :class => 'PRACTICE-image') %>
    <% end %>
   </div> 
</article>
