---
title: "CC4ES | Library"
description: "Coming Soon"
hero_title: "CC4ES Connect"
hero_subtitle: "Direct access to the resources referenced in the Six Modules for practical applications"
---

<%= partial 'partials/header' %>

<article class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 text-center">
      <h2>Direct Grassroots Resource Connector for Communities in Need</h2>
      <p>CC4ES Connect is designed to link communities in need with essential resources for the following outcomes</p>
    </div>
    <div class="cell small-12 text-center text-center">
      <h4 class="green-section-heading">1. Food Security and Environmental Health for Community Well-being</h4>
      <img class="module-image" src="/images/hands_with_plants.jpg" alt="hands holding plants" />
      <p class="image-caption">Sustainable actions at individual level that cascade to communities and beyond</p>
      <p>Food systems are the basis inq the foundation of local, regional, national and global economies. In order to achieve a sustainable food system, we need to understand the complexities involved. Food’s journey from the farm to our table is anything but simple. This module explores how to grow food sustainably, reduce food waste, and create/support sustainable food businesses.</p>
    </div>
    <div class="cell small-12 text-center">
      <h4 class="green-section-heading">2. Community-based Workforce Development</h4>
      <img class="module-image" src="/images/vertical_garden.jpg" alt="vertical garden of edible plants" />
      <p class="image-caption">Green On a Larger Scale</p>
      <p>Sustainability starts at the individual level – everything that each of us contributes makes a difference. We must broaden the effort to include each workplace/business. Scaling up does not need to be expensive, small efforts at work can make a significant impact. With a small investment, businesses can use recycle bins, energy efficient lighting, and implement water conservation techniques. Decreasing waste can have cost savings, consider repairing and sharing tools and equipment. Sustainable business practice invests locally and creates resilient communities. This module showcases local and regional businesses practicing sustainability.</p>
      <p>Most of us are familiar with the term renewable energy, such as solar and wind energy. We are going to now focus on regenerative technology. Living things in nature regenerate — regrow themselves. Regenerative approaches work by mimicing nature. When looking at regenerative approaches, we view a broader context which encompasses checks and balances that affect whole ecosystem social, economic and environmental sustainability. This includes incorporating sustainable designs for gardening/farming, design architecture and landscape, transportation, and more.</p>
    </div>
    <div class="cell small-12 text-center">
      <h4 class="green-section-heading">3. Resilient Community as a place of idenity</h4>
      <img class="module-image" src="/images/hands.jpg" alt="hands touching in collaboration" />
      <p class="image-caption">Invest Locally to Build a Resilient Community</p>
      <p>This is our only planet, we need to protect it. This protection starts locally. Businesses need to invest social capital into the local community. This entails building relationships, supporting local initiatives and developing trust. The community reciprocates by supporting the businesses, a positive feedback loop that creates a resilient community.</p>
    </div>      
  </div>
</article>

