---
title: "CC4ES | Museum of Silenced Histories"
description: "Museum of Silenced Histories"
hero_title: "Museum of Silenced Histories"
hero_subtitle: "Rebuilding relationships with the land to heal & regenerative sustainability "
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
      <blockquote>
        Silence is not having nothing to say, but not having words for all that needs to be said.
        <cite>Juana Ines de la Cruz (d.1695)</cite>
      </blockquote>
    </div>
    <div class='cell small-12'>
      <h3 class='text-center'>Re-Anchoring Ourselves with the Land </h3>
      <p>The land is essential for human survival and its natural designs dicatate where we must anchor.  In the name of prosperity and progress, we have lost much of our ability to hear the voices of the land in the wake of ecological destructions echoing the social and economic disparity in our society. It is time we re-anchor ourselves with land aligning the common root causes we share to tackle systemic issues such as climaate changes and systemic oppression.</p>
      <h3 class='text-center'>Connecting to re-establish relationships</h3>
    </div>
    <div class='cell small-12 medium-10 medium-offset-1'>
      <%= image_tag('MSH_collage_full.jpg', :alt => 'people in the park', :class => 'full-width-photo') %>
    </div>
    <div class='cell small-12'>
      <h2 class="green-section-heading">MSH & Garden of Regeneration</h2>
      <p>Museum of Silenced Histories (MSH) project embodies the CC4ES' mission in two platforms for realizing CC4ES' outcomes of transformative justice and equity: a living museum in both digital and physical forms accompanied by a community-convening space; and a community collective regenerative garden to showcase such gardens by established by the communities of the silenced.</p>
    </div>
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
      <h3 class='text-center'>Museum of Silenced Histories, MSH</h3>
      <p>The Museum of Silenced Histories offers a space for minority, underrepresented, and marginalized members of society to share their stories and have their voices heard, perhaps, for the first time.  It is a place that such members can identify with, and a place of healing and reconciliation.</p>
      <p>Its accompanying community-convening space includes: 
      <ul>
        <li>spaces for in-person meetings and events</li>
        <li>a reading room and library holding history and knowledge recorded orally, visually and in writings by members of the target communities, as well as books and digital resources focusing on issues these communities face</li>
        <li>a street-facing gallery (matched by an online version) celebrating the rich and diverse creativity of these communities, especially as it articulates their histories, their journeys through space and time, and their relationships with the land as reflected in their food, clay, and fiber traditions.</li>
        <li>a quiet space for personal or group reflection and meditation</li>
        <li>a garden-centered green space as a site of healing, hope and nurturance within parameters designed by nature</li>
      </ul>
    </div>
    <div class="cell small-12 medium-6">
      <h3 class='text-center'>Garden of Regeneration</h3>
      <p>Gardens as institutions have stood as sites of healing, hope, and nurturance because they reflect gardeners' paradigms within the parameters designed by nature.</p>
      <p>The MSH Garden of Regeneration is a verdant space where those whose voices have been silenced can openly and freely reflect, value, and honor their own cultural knowledge and wisdom.</p>
      <p>The garden serves as an urban wildlife habitat, a place for cultivating environmental stewardship, and as an incubator of regenerative agriculture approaches and knowledge that re-establishes our bonds with the land. At the same time, it joins with the existing community gardens in the area and related community land stewardship initiatives in offering a model of environmental sustainability to surrounding neighborhoods and the region.</p>
    </div>
    <div class="text-center cell small-12">
      <% link_to 'https://cc4es2.wixsite.com/hopegardeners', :class => "button" do %>
      <h5>To Museum of Silenced Histories</h5>
      <% end %>
    </div>  
  </div>
</article>
