---
title: "CC4ES | Regenerative Technologies"
description: ""
hero_title: "Regenerative Technologies"
hero_subtitle: "Module 4"
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
      <blockquote>
        The people who are crazy enough to think they can change the world are the ones who do.
        <cite>Steve Jobs</cite>
      </blockquote>
    </div>

    <div class='cell small-12'>
      <h3 class='text-center'>Regenerative vs. Renewable</h3>
    </div>
    <div class="cell small-12 medium-6">
      <h5 class='text-center'>What is regenerative agriculture?</h5>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/fSEtiixgRJI?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12 medium-6">
      <h5 class='text-center'>Renewable Energy 101 | National Geographic</h5>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/1kUE0BZtTRc?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class='cell small-12'>
      <p>Living systems are renegerative, they renew themselves.&nbsp; According to this definition, all natural resources should be renewable. However, since their renewable rates for human lifespan and consumption rate&nbsp;<span>are too long</span><span>, most of our resources are finite.&nbsp; To counter this challenge, regenerative technologies are emerging in various contexts — <b>permaculture for agriculture</b> — the term “permaculture” originates from the combination of permanent and agriculture; <b>renewable energy technologies</b> include solar, wind, biomass, tidal, and hydrodynamic; <b>energy efficient transportation</b>&nbsp;— hybrid, electric cars, high-speed trains, solar-powered cargo ships and trucks, solar powered floating airplane runways, and more.&nbsp; Although these broader contexts are critical to success, we must not discount the impact that each of our actions has on the world around us.&nbsp;&nbsp;</span></p>
      <h3 class='text-center'>The Permaculture Way of Life</h3>
    </div>
    <div class="cell small-12 medium-6">
      <p>Permaculture is one of many ways to regenerate resources.&nbsp; Its core principle of working with, not against nature, resonates with all other regenerative technologies.&nbsp;&nbsp;</p><p><strong>DIY:</strong> This TEDTalk video is a testimonial about how one family embarked on a permaculture way of life.&nbsp; See if you can list the lessons that are demonstrated and how you can integrate them into your own journey for sustainable lifestyle.</p>
    </div>
    <div class="cell small-12 medium-6">
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/C7xUUHc4vYc?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class='cell small-12'>
      <h3 class='text-center'>Green Buildings &amp; Green Cities</h3>
      <h4 class='text-center'>What does green building look like?</h4>
    </div>
    <div class="cell small-12 medium-6">
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/ESIHwiV8l6k?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12 medium-6">
      <h5>Elements Of Green Building</h5>
      <ol>
      <li>location and site</li>
      <li>how people get to and from the building</li>
      <li>water use</li>
      <li>energy use</li>
      <li>building materials</li>
      <li>waste generated</li>
      <li>quality of the indoor environment</li>
      </ol>
    </div>
    <div class='cell small-12'>
      <p>The green building integrates regenerative approaches for each of its elements to achieve the sustainability that intersects the 3P’s — people, planet and profit (or prosperity). There are different strategies for different uses of the building.  Regardless of the way in which the building/space is used, the final goal or outcome of the green building is sustainability.</p>
      <h5 id="diy-green-workplace-and-home">DIY: Green Workplace and Home</h5>
      <ul>
      <li>For the elements listed above, explain why each is important for green building and how each element integrates the 3P’s.</li>
      <li>Using the same list, determine how green your home is.</li>
      </ul>
    </div>
    <div class="cell small-12 medium-6">
      <h4 class='text-center'>7 Principles For Building Better Cities</h4>
      <ol>
      <li>PRESERVE: preserve the natural ecologies, agrarian landscapes and cultural heritage sites.</li>
      <li>MIX: Create mixed-use and mixed-income neighborhoods</li>
      <li>WALK: Design walkable streets and human scale neighborhoods</li>
      <li>BIKE: Prioritize bicycle networks and auto-free streets</li>
      <li>CONNECT: Increase density of road network, limit block size</li>
      <li>RIDE: Develop high quality transit and affordable</li>
      <li>FOCUS: Match density and mix to transit capacity</li>
      </ol>
    </div>
    <div class="cell small-12 medium-6">
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/IFjD3NMv6Kw?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class='cell small-12'>
      <h5 id="diy-green-workplace-and-home">DYI: Connect the messages from this TED Talk with the sustainability in 3Ps — Planet, People and Profit or Prosperity. </h5>
      <ul>
      <li>The goal of these principles is to overcome global sprawl. Explain whether low or high density sprawl is the culprit.</li>
      <li>Compare these 7 principles with the elements of the green building from “What Does Green Building Look like?”</li>
      <li>Why is building green buildings and cities considered regenerative technology? HINT: Explain this in terms of sustainability.</li>
      <li>Why do we need to build cities?</li>
      <li>The importance of collaboration among politicians, community members and city planners was emphasized several times. Explain why.</li>
      </ul>
      <h3 class='text-center'>Checks and Balances for Now and the Future</h3>
      <p>All renewable technologies come with pros and cons.  We have to consider the long term consequences and environmental impact in terms of mitigating climate change.  For example, what is the trade-off as we clear forests and farmland to build solar farms?  This same controversial question should be asked of the accelerating advance of renewable technologies. The two videos below present different sides of the argument.  The perception that technology will save us must not go unchecked while we can adjust our lifestyles and businesses to conserve energy. </p>
    </div>
    <div class="cell small-12 medium-6">
      <h5 class='text-center'>Why renewables can't save the planet</h5>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/N-yALPEpV4w?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12 medium-6">
      <h5 class='text-center'>A reality check on renewables</h5>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/E0W1ZZYIV8o?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class='cell small-12 medium-6'>
      <h3 class='text-center'>Recommended resources</h3>
      <ul>
      <li><em>Green Wizardry: Conservation, Solar Power, and Other Hands-On Skills from the Appropriate Tech Toolkit,</em> by John Michael Greer</li>
      <li><em>The New American Homestead: Sustainable, Self-Sufficient Living in the Country or in the City,</em> by John H. Tullock</li>
      </ul>
    </div>

    <div class='cell small-12 medium-6'>
      <h3 class='text-center'>Keywords for further exploration</h3>
      <ul>
      <li>Permaculture</li>
      <li>Regenerative technology</li>
      <li>Renewable vs. Non-renewable resources</li>
      </ul>
    </div>

    <div class='cell small-12'>
      <h3 class='text-center'>Questions to reflect</h3>
      <ul>
      <li>Why restoring ecological ecosystem is the most fundamental step for any type of regenerative technologies?</li>
      <li>Do you agree with the statement “renewables can’t save the planet” as in the TED Talk video “Why renewables can’t save the planet”? Consider the argument from either side.</li>
      <li>What do you think of nuclear energy if renewables won’t be enough?</li>
      <li>What are your own checks-and-balances daily actions for sustainable living?</li>
      <li>Considering the TED Talk Video “The Permaculture Way of Life” above, what actions did she and her family take to buy into permaculture way of life? How can you integrate them into your own daily actions for sustainable living?</li>
      </ul>
    </div>
  </div>
</div>
