---
title: "CC4ES | Rhody Grows Hope"
description: "Rhody Grows Hope"
hero_title: "Rhody Grows Hope"
hero_subtitle: "cultivating regenerative sustainability with one garden at a time"
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
       <blockquote>
        To plant a garden is to believe in tomorrow.
        <cite>Audrey Hepburn</cite>
      </blockquote>
    </div>
    <div class='cell small-12'>
      <h3 class='text-center'>What is Rhody Grows Hope?</h3>
      <p>Gardens are the hope we can see.  Rhody Grows Hope (RGH) is a container gardening project that inspires growing own food for food security,
        sovereignty, and justice.  Each RGH kit consist of a fabric gardening bin with soil, seeds, gardening tools and written instructions is 
        distributed to community members and schools by CC4ES Direct.  Resources along instructions are available in various platforms accessible 
        to community member to encourage better success and ensure maintenance of the project: online instructions and other resources on gardening and sustainability
        are available on the CC4ES website; Rhody Greeners trained through Urban Youths for Sustainability program provide on-site assistance;
        community gardeners’ network through Museum of Silenced Histories & Garden of Regeneration also provides on-ground or onsite support;
        and workshops on growing own food, nutrition and other means for sustainable and healthy lifestyle are held at public community libraries,
        and other community organizations in collaborative partnership.  
      </p>
      <h3 class='text-center'>Growing own food as a social mobilizer tool for building regenerative sustainability</h3>
    </div>
    <div class='cell small-12 medium-10 medium-offset-1'>
      <%= image_tag('RGH-collage_w_logo.jpg', :alt => 'full cycle of food paths', :class => 'full-width-photo') %>
      <p>Growing own food provides the most direct impactful means of ensuring environmental, social and economic sustainability: one small container
        garden initiates a comprehensive integration of food paths from growing food, cooking nutritious food, reducing food waste, composting, green 
        entrepreneurship, and environmental stewardship essential for cultivating regenerative sustainability. 
      </p>
    </div>
    <div class='cell small-12'>
      <h2 class="green-section-heading">How Rhody Grows Hope works</h2>
      <p>Rhody Grows Hope encompasses various CC4ES projects the common thread of which is growing own food at the community grassroots level:
        Museum of Silenced Histories & Garden of Regeneration, Urban Youths for Sustainability, and CC4ES Direct through Hope Gardeners network platform.  
      </p>
      <p>Size-scalability and mobile nature of container gardening is ideal for tending to the communities at grassroots level – especially, frontline
        communities’ brunt with environmental challenges in addition to food apartheid. Gardeng in a container circumvents the soil contamination 
        challenges of brownfield prevalent in these communities.  Mobility nature troubleshoots maintenance challenges that most school gardens face: 
        students can take the container gardens home when schools are not in session.  Furthermore, they can educate their family on growing own food, 
        nurturing their leadership, engaging and empowering the whole community.
      </p>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
      <h3 class='text-center'>Grow a Garden</h3>
      <p>Because Rhody Grows Hope is a container garden, you can grow a garden as small or as big wherever you can find a space.  
        It can be your backyard, balcony, along your windowsill, on a fire escape, staircases, driveway or in a parking lot.  
        You can move around the garden outdoor and bring it indoor when the weather gets cold.  Possibilities are limitless.
      </p>
      <p>Follow the following small steps to start a garden: 
      <ul>
        <li>Select what you want to grow and how much - how many bags</li>
        <li>Check out all the resources provided online and on-site</li>
        <li>Join the Rhody Grows Hope community support network</li>
      </ul>
      <% link_to 'contact', :class => "button" do %>
       <h5>Sign Up & Grow a Garden</h5>
      <% end %>
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <h3 class='text-center'>Give a Garden</h3>
      <%= image_tag('RGH-bag-4-index-2.jpg', :class => 'RGH bag') %>
      <p>Every $20 provides a Rhody Grows Hope garden kit and step-by-step support for a family in need to grow their own fresh vegetables, fruits, 
        and herbs. Rhody Grows Hope is a container gardening project that inspires growing your own food for food security, sovereignty, and justice.</p>
      <% link_to 'donate', :class => "button" do %>
      <h5>Donate Now</h5>
      <% end %>
    </div>  
  </div>
</article>
