---
title: "CC4ES | Rhody Grows Hope"
description: "Rhody Grows Hope"
hero_title: "Rhody Grows Hope"
hero_subtitle: "cultivating regenerative sustainability with one garden at a time"
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
      <blockquote>
        Gardens are the hope we can see.
        <cite>Unknown</cite>
      </blockquote>
       <blockquote>
        To plant a garden is to believe in tomorrow.
        <cite>Audrey Hepburn</cite>
      </blockquote>
    </div>
    <div class='cell small-12'>
      <h3 class='text-center'>What is Rhody Grows Hope?</h3>
      <p>Rhody Grows Hope (RGH) is a container gardening project that inspires growing own food for food security, sovereignty, and justice.  
        Each RGH kit consist of a fabric gardening bin with soil, seeds, gardening tools and written instructions is distributed to community 
        members and schools by Cc4ES Direct.  Resources along instructions are available in various platforms accessible to community members
        to encourage better success and ensure maintenance of the project: online instructions and other resources on gardening and sustainability
        are available on the Cc4ES website; Rhody Greeners trained through Urban Youths for Sustainability program provide on-site assistance;
        community gardeners’ network through Museum of Silenced Histories & Garden of Regeneration also provides on-ground or onsite support;
        and workshops on growing own food, nutrition and other means for sustainable and healthy lifestyle are held at public community libraries,
        and other community organizations in collaborative partnership.  
      </p>
      <h3 class='text-center'>Growing one's own food as a social mobilizer tool for building regenerative sustainability</h3>
    </div>
    <div class='cell small-12 medium-10 medium-offset-1'>
      <%= image_tag('RGH_collage.jpg', :alt => 'full cycle of food paths', :class => 'full-width-photo') %>
      <p>
    </div>
    <div class='cell small-12'>
      <h2 class="green-section-heading">MSH & Garden of Regeneration</h2>
      <p>Museum of Silenced Histories (MSH) project embodies the CC4ES' mission in two platforms for 
        realizing CC4ES' outcomes of transformative justice and equity: a living museum in both digital and 
        physical forms accompanied by a community-convening space; and a community collective regenerative 
        garden to showcase such gardens established by the communities of the silenced.
      </p>
    </div>
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
      <h3 class='text-center'>Museum of Silenced Histories, MSH</h3>
      <p>The Museum of Silenced Histories offers a space for minority, underrepresented, and marginalized members 
        of society to share their stories and have their voices heard, perhaps, for the first time.  It is a place 
        that such members can identify with, and a place of healing and reconciliation.
      </p>
      <p>Its accompanying community-convening space includes: 
      <ul>
        <li>spaces for in-person meetings and events</li>
        <li>a reading room and library holding history and knowledge recorded orally, visually and in writings by 
          members of the target communities, as well as books and digital resources focusing on issues these communities face
        </li>
        <li>a street-facing gallery (matched by an online version) celebrating the rich and diverse creativity of these communities, 
          especially as it articulates their histories, their journeys through space and time, and their relationships with the 
          land as reflected in their food, clay, and fiber traditions.
        </li>
        <li>a quiet space for personal or group reflection and meditation</li>
        <li>a garden-centered green space as a site of healing, hope and nurturance within parameters designed by nature</li>
      </ul>
    </div>
    <div class="cell small-12 medium-6">
      <h3 class='text-center'>Garden of Regeneration</h3>
      <p>Gardens as institutions have stood as sites of healing, hope, and nurturance because they reflect gardeners' paradigms 
        within the parameters designed by nature.
      </p>
      <p>The MSH Garden of Regeneration is a verdant space where those whose voices have been silenced can openly and freely reflect, 
        value, and honor their own cultural knowledge and wisdom.
      </p>
      <p>The garden serves as an urban wildlife habitat, a place for cultivating environmental stewardship, and as an incubator
        of regenerative agriculture approaches and knowledge that re-establishes our bonds with the land. At the same time, 
        it joins with the existing community gardens in the area and related community land stewardship initiatives in offering 
        a model of environmental sustainability to surrounding neighborhoods and the region.
      </p>
    </div>
    <div class="text-center cell small-12">
      <% link_to 'https://cc4es2.wixsite.com/museum', :class => "button" do %>
      <h3>To MSH & Garden of Regeneration</h3>
      <% end %>
    </div>  
  </div>
</article>
