---
title: "CC4ES | Sustainable Business Practices"
description: ""
hero_title: "Sustainable Business Practices"
hero_subtitle: "Module 5"
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
      <blockquote>
        There is more in you of good than you know, child of the kindly West.  Some courage and some wisdom, blended in measure.  If more of us valued food and cheer and song above hoarded gold, it would be a merrier world!
        <cite>J.R.R. Tolkien, <em>The Hobbit</em></cite>
      </blockquote>
    </div>

    <div class='cell small-12'>
      <h3 class='text-center'>Circular Economy</h3>
      <p>Conventional business-as-usual economic models designate environment as an externality, keeping it outside the market.  Linear approaches such as this perpetuate the addiction for economic growth at the expense of  environmental degradation. Circular economic models close the loop with methods that replenish the environment, similar to the cyclic process within ecosystems.  Plenitude economy is a circular economic model that incorporates ecological (environmental) components into the business practice.  Juliet Schor narrates the video “Visualizing a Plenitude Economy” summarizing her book “True Wealth” (listed in the references below).  The actions that she outlines align with the six CC4ES Modules.</p>
    </div>
    <div class="cell small-12 medium-4">
      <h5 class='text-center'>The circular economy</h5>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/VHO1QLeQqlA?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12 medium-4">
      <h5 class='text-center'>Who killed economic growth?</h5>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/EQqDS9wGsxQ?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12 medium-4">
      <h5 class='text-center'>Visualizing a plenitude economy</h5>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/HR-YrD_KB0M?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class='cell small-12'>
      <p>The business-as-usual model of most U.S. businesses focus on economic growth, which leads to longer work hours. A key driver of a plenitude economy is reducing working hours. This decreases energy consumption, pollution, and reallocates time from work to low-impact activities, such as personal hobbies that build social capital within local communities. During the economic recession in 2008, Scandinavian countries that followed the plenitude model saw a buffered effect from the recession. This was documented in <em>Viking Economics: How the Scandinavians Got It Right– and How We Can, Too</em>, by George Lakey. Scandinavian governments bailed out the employees, not the executives. This emphasizes how business models that value building relationships ahead of profit can come out ahead. The same emphasis is the core of the Slow Money business model video below.</p>
      <p><strong>DIY:</strong> Why do you think focusing on relationships in business works better than profit-driven approach?</p>
    </div>
    <div class='cell small-12'>
      <h3 class='text-center'>Slow Money</h3>
    </div>
    <div class="cell small-12 medium-6">
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/A0Rp8h_nV38?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12 medium-6">
      <p>The TED Talk by Ari Derfer on Slow Money is also highlighted in the CC4ES “Resilient Community Building &amp; Leadership” module. He differentiates business models and describes circular economy practices, which includes restoration of ecological systems.</p>
      <p>Here we are making a full circle back to building social capital in local communities in which each member is empowered to make her/his own narratives for what’s meaningful to them.</p>
      <p>Long-term investment in local communities is only possible with circular economic models that allow time to establish resilience that intersects environmental, social and economic fronts.</p>
    </div>
    <div class='cell small-12'>
      <h3 class='text-center'>Mindful Consumption for Meaningful Life</h3>
    </div>
    <div class="cell small-12 medium-6">
      <h5 class='text-center'>A rich life with less stuff</h5>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/GgBpyNsS-jU?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="cell small-12 medium-6">
      <h5 class='text-center'>Living with plenitude</h5>
      <div class="videoWrapper">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/8Fu8mDPTIVw?feature=oembed&start&end&wmode=opaque&loop=0&controls=1&mute=0&rel=1&modestbranding=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class='cell small-12'>
      <p>“Living with Plenitude” Ted Talk introduces us to examples of sustainable business practices on a small scale, local community level. There are many organizations and movements for sustainable lifestyle. They emphasize the importance of building relationships with the community, connecting with people.</p>
      <p>We can make a difference. Businesses won’t see the incentive to follow environmentally friendly approaches unless the consumer drives it. It all starts with individual mindful consumption. Once mindful consumption or consumerism gains collective momentum, businesses will cater to the community. This systemic approach can get results and protect the environment.</p>
    </div>

    <div class='cell small-12 medium-6'>
      <h3 class='text-center'>Recommended resources</h3>
<ul>
<li><em>Small is Beautiful: Economics As if People Mattered</em>, by E.F. Schumacher</li>
<li><em>True Wealth: How and Why Millions of Americans Are Creating a Time-Rich, Ecologically Light, Small-Scale, High-Satisfaction Economy</em>, by Juliet B. Schor</li>
<li><em>What Money Can’t Buy: The Moral Limits of Markets</em>, by Michael J. Sandel</li>
<li><em>The Story of More: How We Got to Climate Change and Where to Go from Here,</em> by Hope Jahren</li>
<li><em>Viking Economics: How the Scandinavians Got It Right– and How We Can, Too</em>, by George Lakey</li>
</ul>

    </div>

    <div class='cell small-12 medium-6'>
      <h3 class='text-center'>Keywords for further exploration</h3>
<ul>
<li>circular economy</li>
<li>plenitude</li>
<li>Slow Money Movement</li>
<li>Cradle to Grave</li>
<li>plenitude economic model</li>
<li>time allocation to connect</li>
<li>self-provisioning</li>
</ul>

    </div>

    <div class='cell small-12'>
      <h3 class='text-center'>Questions to reflect</h3>
<ul>
<li>Why is small beautiful?</li>
<li>What is your definition of “small”?</li>
<li>In the Ted Talk “A rich with less stuff”, the presenters state contribution to community adds values to our lives. Why do you think building relationships is a signature action for sustainable business practices or any sustainable practices?</li>
<li>From your current daily activities, make a list of what activities add values to your life.</li>
</ul>

    </div>
  </div>
</div>
