---
nav: "test"
path: "/test/"
title: "CC4ES | Test page"
description: "CC4ES is a 501(c)(3) non-profit grassroots organization for building sustainable and resilient communities with environmental, social and economic justice and equity."
hero_title: "Test page"
hero_subtitle: "CC4ES is exploring new page designs on this page"
---

<%= partial 'partials/header' %>

<article class="grid-container">

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 large-8">
      <h2>1. Environmental Justice and Diversity</h2>
    </div>
    <div class="cell small-12">
      <div id="medium-widget"></div>
      <script src="https://medium-widget.pixelpoint.io/widget.js"></script>
      <script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"http://medium.com/@susan.gorelick","postsPerLine":2,"limit":4,"picture":"big","fields":["description","author","claps","publishAt"],"ratio":"landscape"}})</script>
    </div>
  </div>

  
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 large-8">
      <h2>1. Environmental Justice and Diversity</h2>
    </div>
    <div class="cell small-12">
      <%= markdown(data.test.table1) %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 large-8">
      <h2>2. Environmental Literacy Fundamentals</h2>
    </div>
    <div class="cell small-12">
      <%= markdown(data.test.table1) %>
    </div>
  </div>

</article>
