---
title: "CC4ES | Urban School Gardeners"
description: "Coming Soon"
hero_title: "CC4ES Circles: Urban School Gardeners"
hero_subtitle: "A forum for school gardeners of any size and shape in Rhode Island"
---

<%= partial 'partials/header' %>

<%= partial 'partials/coming-soon' %>

<article class='grid-container'>
  <div class='grid-x'>
    <div class='cell small-12 text-center'>
      <p>Urban school gardeners is an expansion of Providence School Gardeners, created for the same purposes: 1) to convene and support education through gardening; and 2) to share resources and information on environmental sustainability for students and community members.</p>
    </div>
  </div>
</article>
