---
title: "CC4ES | Urban Youths for Sustainability"
description: "Urban Youths for Sustainability"
hero_title: "Urban Youths for Sustainability, UYS"
hero_subtitle: "Urban youth leadership and job skill-set building for regenerative sustainability"
---

<%= partial 'partials/header' %>

<article class='grid-container'>
  <div class='grid-x grid-margin-x'>
    <div class='cell small-12 medium-8 medium-offset-2'>
      <blockquote>
        A youth is to be regarded with respect. How do we know that his future will not be equal to our present?
        <cite>Confucius</cite>
      </blockquote>
    </div>
  </div> 
  <div class='cell small-12'>
      <h4 class="green-section-heading">Sustainable food systems to platform career paths</h4>
  </div>
  <div class="grid-x grid-margin-x">
     <div class="cell small-12 medium-6">
      <h5>Food systems intersect all three dimensions of sustainability --environmental, social and economic.</h5>  
      <p>By underscoring the common threads between sustainability and food systems for its core guiding principles, UYS provides a pipeline that other related programs can build and showcase their specialty upon.</p> 
      <p>Accordingly, UYS outcomes are community-centered, narrated by members, mobilizing social norms to build a community its members identify with and to stay with.</p>
     </div>
     <div class="text-center cell small-12 medium-6">
       <%= image_tag('seedlings_in_jars.jpg', :class => 'seedlings in jars of coins') %> 
     </div>
     <div class="text-center cell small-12 medium-6">
       <%= image_tag('sustainability_3Ps.jpg', :class => 'sustainability-diagram') %> 
     </div> 
     <div class="cell small-12 medium-6">
       <h5>Urban Youths for Sustainability (UYS) is a youth core job training program for urban youths for 14-24 years old.</h5> 
       <p>Its focus on growing own food and environmental stewardship directly engages community youths to tackle the persistent food insecurity and environmental pollutions in the urban communities, along with job insecurity.</p>
     </div>
  </div>  
  <div class='cell small-12'>
       <h4 class="green-section-heading">Collaboration to pipeline for collective changes</h4>
  </div>
  <div class="grid-x grid-margin-x"> 
     <div class="cell small-12 medium-6">
       <h5>UYS platforms an accreditation infrastructure that various organizations with the common causes can base to develop or modify to their respectively specified outcomes.</h5> 
       <p>This cultivates community-based and initiated collaboration for continual learning necessary in building sustainable communities resilient with social, environmental, and economic justice equity.</p>
     </div>
     <div class="text-center cell small-12 medium-6">
       <%= image_tag('hands.jpg', :class => 'hands over a table') %>
     </div>
  </div>  
  <div class='cell small-12'> 
      <h3>UYS' Outcomes</h3>
      <h5>Pipelining the established and emerging state-wide youth programs, Urban Youths for Sustainability:</h5> 
      <ul>
        <li>Aligns with state department of education’s STEM benchmarks to be integrated into local education agencies (LEA), urban public school systems in particular.  This would give incentive for youths to complete their education and hold school systems accountable.</li>
        <li>Platforms accredited career development paths for post-secondary continual/reskill learning and job opportunities pertinent to such trainings.</li>
      </ul>
   <div class='text-center cell small-12'>
      <% link_to 'https://cc4es2.wixsite.com/hopegardeners', :class => "button" do %>
      <h5 class='text-center'>See Urban Youths for Sustainability in Action</h5>
      <% end %>  
   </div>
  </div>
</article>
